.col-md-6.article
	a.article__items(href="detail-article.html")
		.article__img-wrapper
			//130*107
			img.article__img.img-fluid(src='dist/images/articles/fact-1.jpg', alt="")
		.media-body
			h5.article__title کاشت گوجی بری به همراه خواص گوجی بری
			span.article__date 19 / 10 / 1399
			p.article__content این گیاه بیش از 600 سال است که در حوالی رودخانه زرد چین کشت شده است و هنوز هم بصورت گسترده کشت میشود به طوری که در سال 2005 در شهرستان ژونگنینگ چین000/200 هکتار کشت شده است طبق آخرین آمار در مورد کشت گوجی بری در چین 42 در صد از زمینهای زراعی چین زیر کشت گوجی بری میباشد.
			span.article__button بیشتر بخوانید
				span.icon-angle-left.article__icon
.col-md-6.article
	a.article__items(href="detail-article.html")
		.article__img-wrapper
			img.article__img.img-fluid(src='dist/images/articles/fact-2.jpg', alt="")
		.media-body
			h5.article__title کینوا کاشت داشت و برداشت آن
			span.article__date 19 / 10 / 1399
			p.article__content گیاه کینوا بومی کشورهای آمریکای جنوبی مانند بولیوی، شیلی و پرو است اما امروزه میتوان درتمام دنیا این گیاه را کشت کرد.ارتفاع این گیاه 1 الی 5/1 متر بسته به فاصله کاشت، نوع رسیدگی و رقابت برای نور دارد و محصول اصلی این گیاه دانه های آن است که به سه رنگ سفید،قرمز و مشکی تقسیم میشود
			span.article__button بیشتر بخوانید
				span.icon-angle-left.article__icon