figure.product-grid8
    .product-image8
        //205*205
        a(href="detail-product.html")
            img.img-fluid(src='dist/images/product/01.jpg' alt="")
        ul.social
            li
                a.icon-eyeglasses(href='detail-product.html')
            li
                a.icon-shopping-cart(href='cart.html')
            li
                a.icon-compare(href='compare.html')
        span.product-discount-label 20%
    figcaption.product-content
        .price
            | 2,800,000 تومان
            span 3,000,000
        .title
            a(href='detail-product.html')
                h4 تیشرت تک سایز
