section.inner-banner
	.container
		.row
			.col-12.breadcrumb-flex
				nav(aria-label='breadcrumb')
					ol.breadcrumb
						li.breadcrumb__item
							a.breadcrumb__link(href='index.html')
								span.breadcrumb__icon.icon-home
								| خانه
						li.breadcrumb__item
							a.breadcrumb__link(href='index.html')
								| آرشیو
						li.breadcrumb__item.active درباره ما 