
<section class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-12 breadcrumb-flex">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="index.html"><span class="breadcrumb__icon icon-home"></span>خانه</a></li>
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="index.html">آرشیو</a></li>
            <li class="breadcrumb__item active">درباره ما </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>