
<div class="modal fade" id="modalCompare" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content mdl-defult" style="background-color: rgb(245, 245, 245);">
      <div class="modal-header pt-3 pb-3 pr-3"><span class="text-white">جستجو</span>
        <div class="input-group col-md-10">
          <input class="form-control" type="text" aria-label="Text input with dropdown button"/>
        </div>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div class="col-xl-4 col-lg-6 col-md-4 col-6 float-right">
          <figure class="product-grid8">
            <div class="product-image8">
              <!--205*205--><a href="detail-product.html"><img class="img-fluid" src="dist/images/product/01.jpg" alt=""/></a><span class="product-discount-label">20%</span>
            </div>
            <figcaption class="product-content">
              <div class="price">2,800,000 تومان<span>3,000,000</span></div>
              <div class="title"><a href="detail-product.html">
                  <h4>کود فسفیت پتاسیم مایع</h4></a></div>
            </figcaption>
          </figure>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-4 col-6 float-right">
          <figure class="product-grid8">
            <div class="product-image8">
              <!--205*205--><a href="detail-product.html"><img class="img-fluid" src="dist/images/product/01.jpg" alt=""/></a><span class="product-discount-label">20%</span>
            </div>
            <figcaption class="product-content">
              <div class="price">2,800,000 تومان<span>3,000,000</span></div>
              <div class="title"><a href="detail-product.html">
                  <h4>کود فسفیت پتاسیم مایع</h4></a></div>
            </figcaption>
          </figure>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-4 col-6 float-right">
          <figure class="product-grid8">
            <div class="product-image8">
              <!--205*205--><a href="detail-product.html"><img class="img-fluid" src="dist/images/product/01.jpg" alt=""/></a><span class="product-discount-label">20%</span>
            </div>
            <figcaption class="product-content">
              <div class="price">2,800,000 تومان<span>3,000,000</span></div>
              <div class="title"><a href="detail-product.html">
                  <h4>کود فسفیت پتاسیم مایع</h4></a></div>
            </figcaption>
          </figure>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-4 col-6 float-right">
          <figure class="product-grid8">
            <div class="product-image8">
              <!--205*205--><a href="detail-product.html"><img class="img-fluid" src="dist/images/product/01.jpg" alt=""/></a><span class="product-discount-label">20%</span>
            </div>
            <figcaption class="product-content">
              <div class="price">2,800,000 تومان<span>3,000,000</span></div>
              <div class="title"><a href="detail-product.html">
                  <h4>کود فسفیت پتاسیم مایع</h4></a></div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>