.col-12
  nav(aria-label='Page navigation')
    ul.pagination.justify-content-center.my-pagination
      li.page-item
        a.page-link(href='#') 
          <span class="icon-angle-right"></span>
      li.page-item.active
        a.page-link(href='#') 1
      li.page-item
        a.page-link(href='#') 2
      li.page-item
        a.page-link(href='#') 3
      li.page-item
        a.page-link(href='#')
          <span class="icon-angle-left"></span>