//- .pallet-wrapper
//-     .toggler-pallet
//-         span.toggler-pallet-item.icon.icon-angle-right
//-     .pallets
//-         ul.color-pallet
//-             li.color-pallet-item-show-color(data-color-id='1' style="--data-color:#29563f;" data-color="--data-color:#29563f;--color2:#fbbf45;--color3:#fbe172;--color4:#588b44;--color5:#fef3de;")

//-             li.color-pallet-item-show-color(data-color-id='2' style="--data-color:#795446;" data-color="--data-color:#795446;--color2:#fbbf45;--color3:#7d7660;--color4:#94914e;--color5:#fef3de")

//-             li.color-pallet-item-show-color(data-color-id='3' style="--data-color:#23504d;" data-color="--data-color:#23504d;--color2:#a5cf61;--color3:#e3e567;--color4:#568258;--color5:#e9f8ea")


//-         ul.color-pallet
//-             li.color-pallet-item-show-color(data-color-id='4' style="--data-color:#5d7b6f;" data-color="--data-color:#5d7b6f;--color2:#a4c3a2;--color3:#b0d4b8;--color4:#568258;--color5:#eae7d6")

//-             li.color-pallet-item-show-color(data-color-id='5' style="--data-color:#2c6e49;" data-color="--data-color:#2c6e49;--color2:#d68c45;--color3:#ffc9b9;--color4:#4c956c;--color5:#fefee3")

//-             li.color-pallet-item-show-color(data-color-id='6' style="--data-color:#34262b;" data-color="--data-color:#34262b;--color2:#cc674e;--color3:#e88200;--color4:#e88200;--color5:#fdf2b8")


