.discount-code
    .discount-code__box
        input#DiscountCode.discount-code__input(type="text" placeholder="کد تخفیف")
        button.discount-code__button(onclick="ApplyDiscount()") اعمال کد
    // برای نمایش پیغام از لایه ی زیر استفاده کنید ، کلاس  red و  green برای رنگ قرمز و سبز داره
    #discountMSG
