.dropdown.cart-wrapper.accessibility-items
    a.dropdown-toggle.shopping.btn-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        span.cart-text سبد خرید
        span.icon.icon-cart
        .count-cart 5
    .dropdown-menu.box-cart(aria-labelledby='dropdownMenuButton')
        .cart-header
            span.cart-desc-title (25 کالا) سبد شما
            a.show-cart(href="cart1.html") مشاهده ی سبد خرید
                i.icon-angle-left
        ul.cart-item-list
            li.cart-item
                .cart-img
                    a(href="")
                        //67*67
                        img.img-fluid(src="dist/images/pro24.jpg" alt="pic")
                .cart-title
                    a(href="")
                        p.title کاپ کیک
                    span.price 5,962,000 تومان
                    div.discount
                        span.discount__tag 10%
                        span.discount__real-price 4,000,000
                    span.number 2 عدد
                .cart-price
                    a.delete
                        i.icon-trash
            li.cart-item
                .cart-img
                    a(href="")
                        img.img-fluid(src="dist/images/pro36.jpg" alt="pic")
                .cart-title
                    a(href="")
                        p.title کاپ کیک
                    span.price 5,962,000 تومان
                    div.discount
                        span.discount__tag 10%
                        span.discount__real-price 4,000,000
                    span.number 2 عدد
                .cart-cell.cart-price.text-left
                    a.delete
                        i.icon-trash
            li.cart-item
                .cart-img
                    a(href="")
                        img.img-fluid(src="dist/images/pro15.jpg" alt="pic")
                .cart-title
                    a(href="")
                        p.title شیرینی
                    span.price 5,962,000 تومان
                    div.discount
                        span.discount__tag 10%
                        span.discount__real-price 4,000,000
                    span.number 2 عدد
                .cart-cell.cart-price.text-left
                    a.delete
                        i.icon-trash
            li.cart-item
                .cart-img
                    a(href="")
                        img.img-fluid(src="dist/images/pro37.jpg" alt="pic")
                .cart-title
                    a(href="")
                        p.title کیک
                    span.price 5,962,000 تومان
                    div.discount
                        span.discount__tag 10%
                        span.discount__real-price 4,000,000
                    span.number 2 عدد
                .cart-cell.cart-price.text-left
                    a.delete
                        i.icon-trash
            li.cart-item
                .cart-img
                    a(href="")
                        img.img-fluid(src="dist/images/pro1.jpg" alt="pic")
                .cart-title
                    a(href="")
                        p.title کیک
                    span.price 5,962,000 تومان
                    div.discount
                        span.discount__tag 10%
                        span.discount__real-price 4,000,000
                    span.number 2 عدد
                .cart-cell.cart-price.text-left
                    a.delete
                        i.icon-trash
        .cart-footer
             .style-btn
                a.checkout(href='javascript:;') تسویه حساب
             .subtotal-price
                p مبلغ قابل پرداخت
                span.subtotal-price-number 25,378,000
                p تومان