
<div class="dropdown cart-wrapper accessibility-items"><a class="dropdown-toggle shopping btn-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="cart-text">سبد خرید</span><span class="icon icon-cart"></span>
    <div class="count-cart">5</div></a>
  <div class="dropdown-menu box-cart" aria-labelledby="dropdownMenuButton">
    <div class="cart-header"><span class="cart-desc-title">(25 کالا) سبد شما</span><a class="show-cart" href="cart1.html">مشاهده ی سبد خرید<i class="icon-angle-left"></i></a></div>
    <ul class="cart-item-list">
      <li class="cart-item">
        <div class="cart-img"><a href="">
            <!--67*67--><img class="img-fluid" src="dist/images/pro24.jpg" alt="pic"/></a></div>
        <div class="cart-title"><a href="">
            <p class="title">کاپ کیک</p></a><span class="price">5,962,000 تومان</span>
          <div class="discount"><span class="discount__tag">10%</span><span class="discount__real-price">4,000,000</span></div><span class="number">2 عدد</span>
        </div>
        <div class="cart-price"><a class="delete"><i class="icon-trash"></i></a></div>
      </li>
      <li class="cart-item">
        <div class="cart-img"><a href=""><img class="img-fluid" src="dist/images/pro36.jpg" alt="pic"/></a></div>
        <div class="cart-title"><a href="">
            <p class="title">کاپ کیک</p></a><span class="price">5,962,000 تومان</span>
          <div class="discount"><span class="discount__tag">10%</span><span class="discount__real-price">4,000,000</span></div><span class="number">2 عدد</span>
        </div>
        <div class="cart-cell cart-price text-left"><a class="delete"><i class="icon-trash"></i></a></div>
      </li>
      <li class="cart-item">
        <div class="cart-img"><a href=""><img class="img-fluid" src="dist/images/pro15.jpg" alt="pic"/></a></div>
        <div class="cart-title"><a href="">
            <p class="title">شیرینی</p></a><span class="price">5,962,000 تومان</span>
          <div class="discount"><span class="discount__tag">10%</span><span class="discount__real-price">4,000,000</span></div><span class="number">2 عدد</span>
        </div>
        <div class="cart-cell cart-price text-left"><a class="delete"><i class="icon-trash"></i></a></div>
      </li>
      <li class="cart-item">
        <div class="cart-img"><a href=""><img class="img-fluid" src="dist/images/pro37.jpg" alt="pic"/></a></div>
        <div class="cart-title"><a href="">
            <p class="title">کیک</p></a><span class="price">5,962,000 تومان</span>
          <div class="discount"><span class="discount__tag">10%</span><span class="discount__real-price">4,000,000</span></div><span class="number">2 عدد</span>
        </div>
        <div class="cart-cell cart-price text-left"><a class="delete"><i class="icon-trash"></i></a></div>
      </li>
      <li class="cart-item">
        <div class="cart-img"><a href=""><img class="img-fluid" src="dist/images/pro1.jpg" alt="pic"/></a></div>
        <div class="cart-title"><a href="">
            <p class="title">کیک</p></a><span class="price">5,962,000 تومان</span>
          <div class="discount"><span class="discount__tag">10%</span><span class="discount__real-price">4,000,000</span></div><span class="number">2 عدد</span>
        </div>
        <div class="cart-cell cart-price text-left"><a class="delete"><i class="icon-trash"></i></a></div>
      </li>
    </ul>
    <div class="cart-footer">
      <div class="style-btn"><a class="checkout" href="javascript:;">تسویه حساب</a></div>
      <div class="subtotal-price">
        <p>مبلغ قابل پرداخت</p><span class="subtotal-price-number">25,378,000</span>
        <p>تومان</p>
      </div>
    </div>
  </div>
</div>