
<div class="cart__item">
  <div class="row">
    <div class="col-12 col-md-3 cart__item-img"><img class="img-fluid" src="dist/images/product/01.jpg" alt="pic"/></div>
    <div class="col-12 col-md-9">
      <div class="cart__item-title">
        <p>تیشرت با درجه کیفی 2</p>
      </div>
      <div class="cart__detail">
        <div class="cart-detail1">
          <div>
            <div class="cart-detail1__item"> قرمز</div>
            <div class="cart-detail1__item">قابل شستشو</div>
            <div class="cart-detail1__item">پلاستیک</div>
          </div>
          <div class="d-flex mt-4">
            <div class="quantity">
              <input type="number" min="1" max="1000" step="1" value="1" readonly=""/>
              <div class="quantity-nav cart-loader">
                <div class="quantity-button quantity-up">+</div>
                <div class="quantity-button quantity-down">-</div>
              </div>
            </div><a class="cart-detail1__delete"><span class="icon icon-trash"></span>حذف</a>
          </div>
        </div>
        <div class="cart-detail2">
          <div class="cart-detail2__price"><span>ارزش واقعی</span><span class="del">
              <del>395,000</del> تومان</span></div>
          <div class="cart-detail2__Discount cart-detail2__Discount--green"><span>تخفیف </span><span>5,962,000 تومان   </span></div>
        </div>
      </div>
    </div>
  </div>
</div>