
<div class="col-md-5 contact">
  <h5 class="contact__title">اطلاعات تماس</h5>
  <div class="contact__wrapper">
    <div class="contact__place"><span class="icon-map"></span>تهران - خیابان دماوند (سمت غرب به شرق) بعد از خاقانی ، جنب مجتمع پذیرایی آرتمیس ، پلاک222</div>
    <ul class="contact__list">
      <li class="contact__item"><span class="icon-phone-ring"></span>تلفن : 031 - 555515555</li>
      <li class="contact__item"><span class="icon-mobile"></span>موبایل : 09131738273</li>
      <li class="contact__item"><span class="icon-envelope"></span>ایمیل: info@keshavarzi.com</li>
    </ul>
  </div>
</div>