
<footer id="my-animation">
  <div class="container-fluid">
    <div class="row">
      <div class="columns col-xl-3 col-12"> 
        <div class="wrapper_title" id="one"> 
          <h3 class="title">درباره فروشگاه</h3>
          <div class="f_divider" id="divider_two"></div>
        </div>
        <div class="intro_company"> <a class="img_link" href="javascript:void(0)"> <img class="logo_company" src="/dist/images/content/logo.png" alt=""/></a>
          <div class="discription_wrapper"> 
            <p class="discription">مرکز خرید آنلاین شیکسان فعالیت خود را در زمینۀ پوشاک به‌صورت تخصصی از سال 1393 آغاز نمود و طی این سال‌ها توانسته ضمن همکاری با بیش از 400 برند ایرانی و بین‌المللی، در مسیر بهبود تجربۀ خرید آنلاین پوشاک در ایران گام بردارد. مهم‌ترین رسالت  شیک سان بهبود کیفیت سبک زندگی است که رضایت اکثریت مشتریان گرامی از این فروشگاه اینترنتی گواهی بر این ادعاست؛</p>
          </div>
        </div>
      </div>
      <div class="columns col-xl-3 col-lg-6 col-md-6"> 
        <div class="wrapper_title"> 
          <h3 class="title">با ما در تماس باشید</h3>
          <div class="f_divider"></div>
        </div>
        <div class="content_us"> 
          <div class="call"><a class="call_item" href="javascript:void(0)">
              <div class="s_call"> <i class="icon-phone-ring"></i></div><span class="text">09136030777</span></a><a class="call_item" href="javascript:void(0)">
              <div class="s_call"> <i class="icon-phone-ring"></i></div><span class="text">09136030777</span></a><a class="call_item" href="javascript:void(0)">
              <div class="s_call"> <i class="icon-map-pin"></i></div><span class="text">تهران اصفهان خیابان شهرداری</span></a><a class="call_item" href="javascript:void(0)">
              <div class="s_call"> <i class="icon-envelope"></i></div><span class="text">info@itsaco.ir</span></a></div>
          <div class="social_media"><a class="s_social_media" href="javascript:void(0)"><i class="icon-instagram"></i></a><a class="s_social_media" href="javascript:void(0)"><i class="icon-telegram"></i></a><a class="s_social_media" href="javascript:void(0)"><i class="icon-whatsapp"></i></a><a class="s_social_media" href="javascript:void(0)"><i class="icon-twitter"></i></a></div>
        </div>
      </div>
      <div class="columns col-xl-3 col-lg-6 col-md-6"> 
        <div class="wrapper_title"> 
          <h3 class="title">لینک های مرتبط</h3>
          <div class="f_divider"></div>
        </div>
        <div class="tag_group">
          <div class="tag"> <a class="tag_link" href="javascript:void(0)"><i class="icon-unlink"></i><span class="tag_text">خانه</span></a><a class="tag_link" href="javascript:void(0)"><i class="icon-unlink"></i><span class="tag_text">محصولات</span></a><a class="tag_link" href="javascript:void(0)"><i class="icon-unlink"></i><span class="tag_text">محصولات -1</span></a><a class="tag_link" href="javascript:void(0)"><i class="icon-unlink"></i><span class="tag_text">محصولات -2</span></a><a class="tag_link" href="javascript:void(0)"><i class="icon-unlink"></i><span class="tag_text">محصولات -3</span></a></div>
          <div class="tag"> <a class="tag_link" href="javascript:void(0)"><i class="icon-unlink"></i><span class="tag_text">ویدیو</span></a><a class="tag_link" href="javascript:void(0)"><i class="icon-unlink"></i><span class="tag_text">مطالب آموزشی</span></a><a class="tag_link" href="javascript:void(0)"><i class="icon-unlink"></i><span class="tag_text">وبلاگ</span></a><a class="tag_link" href="javascript:void(0)"><i class="icon-unlink"></i><span class="tag_text">درباره ما</span></a><a class="tag_link" href="javascript:void(0)"><i class="icon-unlink"></i><span class="tag_text">تماس با ما</span></a></div>
        </div>
      </div>
      <div class="columns col-xl-3"> 
        <div class="wrapper_title"> 
          <h3 class="title">نماد اعتماد الکترونیکی</h3>
          <div class="f_divider"></div>
        </div>
        <div class="brand"><a class="brand_link" href="javascript:void(0)"><img class="brand_img" src="/dist/images/e-sign/05.png" alt=""/></a><a class="brand_link" href="javascript:void(0)"><img class="brand_img" src="/dist/images/e-sign/02.png" alt=""/></a></div>
      </div>
    </div>
    <div class="row privacy">
      <div class="col-12"> 
        <div class="is_divider"></div>
        <div class="privacy_group"> 
          <div class="copy_right"> 
            <p class="copyright_text">کلیه حقوق این وب سایت متعلق به سایت شیکسون می باشد.</p>
          </div>
          <div class="designed_by"> 
            <h6 class="designed_by_text">طراحی و برنامه نویسی : <a href="https://www.itsaco.ir/" target="_blank" rel="noopener">فناوری اطلاعات آیتیسا</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>