footer#my-animation
  .container-fluid
    .row
      .columns.col-xl-3.col-12 
        .wrapper_title#one 
          h3.title درباره فروشگاه
          .f_divider#divider_two
        .intro_company 
          a.img_link(href="javascript:void(0)") 
            img.logo_company(src="/dist/images/content/logo.png" alt="")
          .discription_wrapper 
            p.discription مرکز خرید آنلاین شیکسان فعالیت خود را در زمینۀ پوشاک به‌صورت تخصصی از سال 1393 آغاز نمود و طی این سال‌ها توانسته ضمن همکاری با بیش از 400 برند ایرانی و بین‌المللی، در مسیر بهبود تجربۀ خرید آنلاین پوشاک در ایران گام بردارد. مهم‌ترین رسالت  شیک سان بهبود کیفیت سبک زندگی است که رضایت اکثریت مشتریان گرامی از این فروشگاه اینترنتی گواهی بر این ادعاست؛
      .columns.col-xl-3.col-lg-6.col-md-6 
        .wrapper_title 
          h3.title با ما در تماس باشید
          .f_divider

        .content_us 
          .call
            a(href="javascript:void(0)").call_item
              .s_call 
                i.icon-phone-ring
              span.text 09136030777
            a(href="javascript:void(0)").call_item
              .s_call 
                i.icon-phone-ring
              span.text 09136030777
            a(href="javascript:void(0)").call_item
              .s_call 
                i.icon-map-pin
              span.text تهران اصفهان خیابان شهرداری
            a(href="javascript:void(0)").call_item
              .s_call 
                i.icon-envelope
              span.text info@itsaco.ir
          .social_media
            a(href="javascript:void(0)").s_social_media
              i.icon-instagram
            a(href="javascript:void(0)").s_social_media
              i.icon-telegram
            a(href="javascript:void(0)").s_social_media
              i.icon-whatsapp
            a(href="javascript:void(0)").s_social_media
              i.icon-twitter
      .columns.col-xl-3.col-lg-6.col-md-6 
        .wrapper_title 
          h3.title لینک های مرتبط
          .f_divider
        .tag_group
          .tag 
            a.tag_link(href="javascript:void(0)")
              i.icon-unlink
              span.tag_text خانه
            a.tag_link(href="javascript:void(0)")
              i.icon-unlink
              span.tag_text محصولات
            a.tag_link(href="javascript:void(0)")
              i.icon-unlink
              span.tag_text محصولات -1
            a.tag_link(href="javascript:void(0)")
              i.icon-unlink
              span.tag_text محصولات -2
            a.tag_link(href="javascript:void(0)")
              i.icon-unlink
              span.tag_text محصولات -3
          //- .tag 
          //-   a.tag_link(href="javascript:void(0)")
          //-     i.icon-unlink
          //-     span.tag_text پیراهن مردانه
          //-   a.tag_link(href="javascript:void(0)")
          //-     i.icon-unlink
          //-     span.tag_text شلوار زنانه
          //-   a.tag_link(href="javascript:void(0)")
          //-     i.icon-unlink
          //-     span.tag_text لوازم آرایشی
          //-   a.tag_link(href="javascript:void(0)")
          //-     i.icon-unlink
          //-     span.tag_text میوه و مواد غذایی
          //-   a.tag_link(href="javascript:void(0)")
          //-     i.icon-unlink
          //-     span.tag_text ست بچگانه

          .tag 
            a.tag_link(href="javascript:void(0)")
              i.icon-unlink
              span.tag_text ویدیو
            a.tag_link(href="javascript:void(0)")
              i.icon-unlink
              span.tag_text مطالب آموزشی
            a.tag_link(href="javascript:void(0)")
              i.icon-unlink
              span.tag_text وبلاگ
            a.tag_link(href="javascript:void(0)")
              i.icon-unlink
              span.tag_text درباره ما
            a.tag_link(href="javascript:void(0)")
              i.icon-unlink
              span.tag_text تماس با ما
      .columns.col-xl-3 
        .wrapper_title 
          h3.title نماد اعتماد الکترونیکی
          .f_divider

        .brand
          a(href="javascript:void(0)").brand_link
            img.brand_img(src="/dist/images/e-sign/05.png" alt="")
          a(href="javascript:void(0)").brand_link
            img.brand_img(src="/dist/images/e-sign/02.png" alt="")
    .row.privacy
      .col-12 
        .is_divider
        .privacy_group  
          .copy_right 
            p.copyright_text کلیه حقوق این وب سایت متعلق به سایت شیکسون می باشد.
          .designed_by 
            h6.designed_by_text
              | طراحی و برنامه نویسی : 
              a(href='https://www.itsaco.ir/' target='_blank' rel='noopener') فناوری اطلاعات آیتیسا

      //- include _footer-contact
      //- inclu     de _footer-easyaccess
      //- include _signs-socials
      //- section.inc-info
      //-   .container
      //-     .row
      //-       .col-12.rights
      //-         .py-1
      //-           p کلیه حقوق این وب سایت متعلق به سایت شیکسون می باشد.
      //-           h6
      //-             | طراحی و برنامه نویسی : 
      //-             a(href='https://www.itsaco.ir/' target='_blank' rel='noopener') فناوری اطلاعات آیتیسا
      //- button#scroll-up scroll-up
      //-           span.icon-angle-circle-up