.col-md-5.contact
        h5.contact__title اطلاعات تماس
        .contact__wrapper
          div.contact__place
            span.icon-map
            | تهران - خیابان دماوند (سمت غرب به شرق) بعد از خاقانی ، جنب مجتمع پذیرایی آرتمیس ، پلاک222
          ul.contact__list
            li.contact__item
              span.icon-phone-ring
              | تلفن : 031 - 555515555
            li.contact__item
              span.icon-mobile
              | موبایل : 09131738273
            li.contact__item
              span.icon-envelope
              | ایمیل: info@keshavarzi.com