
<div class="col-md-4 easyaccess">
  <h5 class="easyaccess__title">دسترسی آسان</h5>
  <nav>
    <ul class="easyaccess__list">
      <li class="easyaccess__item"><a class="easyaccess__link" href="index.html">خانه</a></li>
      <li class="easyaccess__item"><a class="easyaccess__link" href="archive-article.html">مقالات</a></li>
      <li class="easyaccess__item"><a class="easyaccess__link" href="archive-video.html">ویدئو</a></li>
      <li class="easyaccess__item"><a class="easyaccess__link" href="faq.html">سوالات متداول</a></li>
      <li class="easyaccess__item"><a class="easyaccess__link" href="suggestions.html">انتقادات و پیشنهادات</a></li>
      <li class="easyaccess__item"><a class="easyaccess__link" href="about-us.html">درباره ما</a></li>
      <li class="easyaccess__item"><a class="easyaccess__link" href="contact-us.html">تماس با ما</a></li>
    </ul>
  </nav>
</div>