.col-md-4.easyaccess
        h5.easyaccess__title دسترسی آسان
        nav
          ul.easyaccess__list
            li.easyaccess__item
                 a.easyaccess__link(href='index.html') خانه
            li.easyaccess__item
                 a.easyaccess__link(href='archive-article.html') مقالات
            li.easyaccess__item
                a.easyaccess__link(href='archive-video.html') ویدئو
            li.easyaccess__item
                a.easyaccess__link(href='faq.html') سوالات متداول
            li.easyaccess__item
                a.easyaccess__link(href='suggestions.html') انتقادات و پیشنهادات
            li.easyaccess__item
                a.easyaccess__link(href='about-us.html') درباره ما
            li.easyaccess__item
                a.easyaccess__link(href='contact-us.html') تماس با ما