.col-md-3.signs
        .row
          .col-12.signs__list
            img.signs__img.img-fluid(alt="", src='dist/images/content/e-sign.png')
            img.signs__img.img-fluid(src='dist/images/content/kasb-kar.png', alt="")

        .row
          .col-12
            .social-footer
              ul.social-footer__wrapper
                li.social-footer__item
                  a.social-footer__link(href='#')
                    span.icon-instagram.social-footer__icon
                li.social-footer__item
                  a.social-footer__link(href='#')
                    span.icon-telegram.social-footer__icon
                li.social-footer__item
                  a.social-footer__link(href='#')
                    span.icon-whatsapp.social-footer__icon