extends partials/_layout
block header
    include partials/header/_header
    include partials/_pallet
block content
    include partials/_breadcrumb
    section.blog.editor
        .container
          .row
            .col-lg-12            
                h1.blog__title
                    | برگزاری انتخابات نظام صنفی رایانه‌ای ایران با بلاک‌ چین
                time(datetime="2008-02-14 20:00").blog__date
                    i.icon-calendar.blog__date-icon
                    | 27/06/1398
                
                img.blog__img.img-fluid(src="dist/images/articles/fact-2-big.jpg" alt="pic")
                .blog__content
                        p
                            | زیبایی فرش دستبافت ایران مدیون طرح و نقشه دل انگیز آمیخته به رنگ های جذاب آن است.
                            | جایگاه فرش دستبافت ایرانی بر همگان آشکار است. خرید فرش دستبافت به دلیل قیمت
                            | بالای آن
                            | برای همگان امکانپذیر نیست. به همین خاطر ما به شما توصیه میکنیم از فرش های ماشینی
                            | که
                            | در بازار موجود میباشد، استفاده کنید. تنوع قیمت، طرح و نقشه، در فرش های ماشینی
                            | باعث
                            | شده است که سلیقه های مختلف را پوشش دهد و انتظارات همگان را برآورده کند. قیمت فرش
                            | ماشینی با توجه به تراکم و بافت آن متفاوت است. به طور مثال قیمت فرش ماشینی 1200
                            | شانه
                            | از فرش ماشینی 700 شانه بالاتر است. دلیل بالا بودن قیمت در فرش های دستبافت، به
                            | دلیل
                            | ویژگی های منحصر به فرد آن است.این نوع فرش ها ضد حساسیت هستند، دوام و مقاومت
                            | بالایی
                            | دارند، طرح ها و نقشه های فوق العاده حیرت انگیزی دارند. در فصل زمستان به عنوان
                            | عایقی
                            | برای جلوگیری از سرما و در فصل تابستان کف خانه را خنک میکند. الیاف این نوع فرش ها
                            | همه
                            | با مواد طبیعی رنگ شده است. گیاهان رنگدار در طبیعت بسیار زیاد هستند.
                            | انسان ها در طول حیات خود آن ها را شناخته و مورد استفاده قرارداده است. به طور
                            | مثال،
                            | روناس گیاهیست خودرو. ازماده رنگی که در ریشه آن وجود دارد، رنگ های قرمز، آجری و
                            | انواع
                            | رنگ قرمز سیر و روشن بدست می آید. استفاده از این مواد در فرش های دستبافت باعث
                            | میشود
                            | که رنگ های آن دیرتر از بین برود وحتی با نگهداری مناسب، این رنگ ها تا سالیان سال
                            | مانند روز اول خود باقی بمانند. شاید برایتان جالب باشد که فرشبافی به غیر از ایران
                            | در
                            | کشورهایی نظیر ترکیه، هند، پاکستان، افغانستان، چین، قفقاز، ترکمنستان، نپال،
                            | رمانی،
                            | بلغارستان، آلبانی، مصر و برخی دیگر از کشورهای آسیایی یکی از مهمترین مشاغل
                            | اجتماعی که
                            | در اقتصاد خانواده و به صورت کلان در اقتصاد ملی از منابع درآمدی بسیار مهم قلمداد
                            | میشود.دراین مقاله به اختصار تاریخچه فرش بافی، نقش و نگاره ها و سبک بافندگی
                            | تعدادی از
                            | کشورهایی که در این حیطه صاحب نام هستند را به شما معرفی خواهیم کرد.

                        
                        iframe(src="https://www.aparat.com/video/video/embed/videohash/KsX2V/vt/frame")
                        //video.blog-video__tag(src='media/fillm3.mp4', controls='')

    .clearfix
block footer
    include partials/footer/_footer                 