extends partials/_layout

block headStyle
  

block content
    section.login.login-page
        .container 
            .row
                .col-12.justify-content-center.d-flex.mt-5
                    
                    .login__wrapper
                        include partials/login-register/_avatar
                        include partials/login-register/_verification                                        
    //footer
block scripts
    script(src='dist/scripts/jquery.validate.min.js')