extends partials/_layout

block headStyle
    link(rel='stylesheet', href='dist/styles/profileCart.css')
block header
    include partials/header/_header
    include partials/_pallet
block content
    include partials/_breadcrumb
    section
        .container 
            .row
                h1.titles
                    | سبد خرید
                .col-12.d-lg-none
                    a(href="#" data-toggle="modal" data-target="#profileModal").button-profile
                        span.icon-more.button-profile__icon
                        | حساب کاربری من
                .col-12.col-lg-4.col-xl-3.d-none.d-lg-block
                    include partials/profile/_menu-profile
                .col-12.col-lg-8.col-xl-9
                    .profile-cart
                        .profile-cart__header تغییر رمز عبور 
                        .col-12
                                form.form-card
                                    .row.m-0
                                        .col-12.col-md-12.p-0
                                            .form-card__field
                                                label(for="current").form-card__label رمز عبور فعلی
                                                input(type="password" required="" placeholder=" رمز عبور فعلی")#current.form-card__input
                                            .form-card__field
                                                label(for="new").form-card__label رمز عبور جدید
                                                input(type="password" required=""  placeholder=" رمز عبور جدید")#new.form-card__input    
                                            .form-card__field
                                                label(for="repeat").form-card__label تکرار رمز عبور
                                                input(type="password" required="" placeholder=" تکرار رمز عبور")#repeat.form-card__input     
                                        .col-12.form-card__button
                                            button(type="submit").mx-2 ثبت تغییرات
                                            button(type="submit").mx-2.ghost انصراف
                                            
                                            include partials/profile/_modal-menu-profile  

    //footer
block footer
    include partials/footer/_footer 