
<div class="col-12 col-lg-6 col-xl-5">   
  <div class="regular slider">
    <div><a class="fancy" href="dist/images/gallery/product1-lg.jpg" rel="gallery" data-fancybox="gallery" data-caption="Caption #1"><img class="product-image main-image" src="dist/images/gallery/product1-m.jpg" data-image-id="1" data-zoom-image="dist/images/gallery/product1-lg.jpg" alt=""/></a></div>
    <div><a class="fancy" href="dist/images/gallery/product2-lg.jpg" rel="gallery" data-fancybox="gallery" data-caption="Caption #1"><img class="product-image main-image" src="dist/images/gallery/product2-m.jpg" data-image-id="2" data-zoom-image="dist/images/gallery/product2-lg.jpg" alt=""/></a></div>
    <div><a class="fancy" href="dist/images/gallery/product3-lg.jpg" rel="gallery" data-fancybox="gallery" data-caption="Caption #1"><img class="product-image main-image" src="dist/images/gallery/product3-m.jpg" data-image-id="3" data-zoom-image="dist/images/gallery/product3-lg.jpg" alt=""/></a></div>
    <div><a class="fancy" href="dist/images/gallery/product1-lg.jpg" rel="gallery" data-fancybox="gallery" data-caption="Caption #1"><img class="product-image main-image" src="dist/images/gallery/product1-m.jpg" data-image-id="4" data-zoom-image="dist/images/gallery/product1-lg.jpg" alt=""/></a></div>
  </div>
  <div class="thumbs slider">
    <div><img class="product-image thumb-image" src="dist/images/gallery/product1-m.jpg" data-image-id="1" data-zoom-image="dist/images/gallery/product1-lg.jpg" alt=""/></div>
    <div><img class="product-image thumb-image" src="dist/images/gallery/product2-m.jpg" data-image-id="2" data-zoom-image="dist/images/gallery/product2-lg.jpg" alt=""/></div>
    <div><img class="product-image thumb-image" src="dist/images/gallery/product3-m.jpg" data-image-id="3" data-zoom-image="dist/images/gallery/product31-lg.jpg" alt=""/></div>
    <div><img class="product-image thumb-image" src="dist/images/gallery/product1-m.jpg" data-image-id="4" data-zoom-image="dist/images/gallery/product1-lg.jpg" alt=""/></div>
  </div>
  <div class="extra">
    <ul class="extra__list">
      <li class="extra__items">
        <button class="extra__button" data-placement="left" data-toggle="tooltip" title="افزودن به علاقه مندی"><span class="icon-heart-outlined extra__icon extra__like"></span></button>
      </li>
      <li class="extra__items">
        <button class="extra__button" data-placement="left" data-toggle="tooltip" title="افزودن به علاقه مندی"><span class="icon-share extra__icon extra__share"></span></button>
      </li>
    </ul>
  </div>
</div>