
<div class="extra">
  <ul class="extra__list">
    <li class="extra__items">
      <button class="extra__button" data-placement="left" data-toggle="tooltip" title="افزودن به علاقه مندی"><span class="icon-heart-outlined extra__icon extra__like"></span></button>
    </li>
    <li class="extra__items">
      <button class="extra__button" data-placement="left" data-toggle="tooltip" title="افزودن به علاقه مندی"><span class="icon-share extra__icon extra__share"></span></button>
    </li>
  </ul>
</div>