.extra
    ul.extra__list
        li.extra__items
            button.extra__button(data-placement="left",data-toggle="tooltip",title="افزودن به علاقه مندی")
                span.icon-heart-outlined.extra__icon.extra__like
        li.extra__items
            button.extra__button(data-placement="left",data-toggle="tooltip",title="افزودن به علاقه مندی")
                span.icon-share.extra__icon.extra__share