section.similar
    .container
        .row
            .col-12
                h2.similar-title محصولات مشابه
                .owl-carousel.owl-theme.owl-similar
                    .item
                        include ../_box-product
                    .item
                        include ../_box-product    
                    .item
                        include ../_box-product
                    .item
                        include ../_box-product
                    .item
                        include ../_box-product