.col-12.col-lg-6.col-xl-5    
      .regular.slider
          
        div
          a.fancy(href="dist/images/gallery/product1-lg.jpg" rel="gallery" data-fancybox="gallery" data-caption="Caption #1")
            img.product-image.main-image(src='dist/images/gallery/product1-m.jpg', data-image-id='1', data-zoom-image='dist/images/gallery/product1-lg.jpg', alt='')
        div
          a.fancy(href="dist/images/gallery/product2-lg.jpg" rel="gallery" data-fancybox="gallery" data-caption="Caption #1")
            img.product-image.main-image(src='dist/images/gallery/product2-m.jpg', data-image-id='2', data-zoom-image='dist/images/gallery/product2-lg.jpg', alt='')
        div
          a.fancy(href="dist/images/gallery/product3-lg.jpg" rel="gallery" data-fancybox="gallery" data-caption="Caption #1")
            img.product-image.main-image(src='dist/images/gallery/product3-m.jpg', data-image-id='3', data-zoom-image='dist/images/gallery/product3-lg.jpg', alt='')
        div
          a.fancy(href="dist/images/gallery/product1-lg.jpg" rel="gallery" data-fancybox="gallery" data-caption="Caption #1")
            img.product-image.main-image(src='dist/images/gallery/product1-m.jpg', data-image-id='4', data-zoom-image='dist/images/gallery/product1-lg.jpg', alt='')
      .thumbs.slider
        div
          img.product-image.thumb-image(src='dist/images/gallery/product1-m.jpg', data-image-id='1', data-zoom-image='dist/images/gallery/product1-lg.jpg', alt='')
        div
          img.product-image.thumb-image(src='dist/images/gallery/product2-m.jpg', data-image-id='2', data-zoom-image='dist/images/gallery/product2-lg.jpg', alt='')
        div
          img.product-image.thumb-image(src='dist/images/gallery/product3-m.jpg', data-image-id='3', data-zoom-image='dist/images/gallery/product31-lg.jpg', alt='')
        div
          img.product-image.thumb-image(src='dist/images/gallery/product1-m.jpg', data-image-id='4', data-zoom-image='dist/images/gallery/product1-lg.jpg', alt='')
      include  _detail-product-extra
