
<div class="col-12 col-lg-6 col-xl-7 description">
  <div class="row">
    <div class="col-xs-12 description__Product-Status"><span class="description__label-detail">وضعیت :</span>
      <!--.description__span-detail--notavailable ناموجود--><span class="description__span-detail--available">موجود</span>
    </div>
    <div class="col-12 description__Product-Status"><span class="description__label-detail">کد محصول :</span><span class="description__span-detail">مدل سونیا 15236</span></div>
    <div class="col-12 description__Product-Status"><span class="description__label-detail">سایز :</span><span class="description__span-detail">30 cc</span></div>
    <div class="col-12 description__Product-Status"><span class="description__label-detail">ارتفاع :</span><span class="description__span-detail">13 cm</span></div>
    <div class="col-12 description__Product-Status"><span class="description__label-detail">عرض :</span><span class="description__span-detail">13 cm</span></div>
    <div class="col-12 description__Product-Status"><span class="description__label-detail">سایز :</span>
      <form class="size">
        <fieldset class="size__toolbar">
          <div>
            <input class="size__input" id="xl" type="radio" name="color" value="xl" checked="checked"/>
            <label class="size__label" for="xl"><span>13*13</span></label>
          </div>
          <div>
            <input class="size__input" id="lg" type="radio" name="color" value="lg"/>
            <label class="size__label" for="lg"><span>10*10</span></label>
          </div>
          <div>
            <input class="size__input" id="md" type="radio" name="color" value="md"/>
            <label class="size__label" for="md"><span>7*7</span></label>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-12 description__Product-Status"><span class="description__label-detail">رنگ بندی :</span>
      <form class="color">
        <fieldset class="color__field">
          <div>
            <input class="color__input" id="red" type="radio" name="color" value="red" checked="checked"/>
            <label class="color__label" data-toggle="tooltip" data-placement="top" title="red" for="red"><span></span></label>
          </div>
          <div>
            <input class="color__input" id="blue" type="radio" name="color" value="blue"/>
            <label class="color__label" data-toggle="tooltip" data-placement="top" title="blue" for="blue"><span></span></label>
          </div>
          <div>
            <input class="color__input" id="black" type="radio" name="color" value="black"/>
            <label class="color__label" data-toggle="tooltip" data-placement="top" title="black" for="black"><span></span></label>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-12 description__Product-Status"><span class="description__label-detail">قیمت :</span><span class="description__span-detail--price">6,150,000 ریال</span><span class="description__span-detail--discount">6,150,000 ریال</span></div>
    <div class="col-12 productbutton"><span class="productbutton__label">تعداد :</span>
      <select class="productbutton__quantity" name="cars" id="cars">
        <option value="volvo">1</option>
        <option value="saab">2</option>
        <option value="mercedes">3</option>
        <option value="audi">4</option>
      </select>
      <button class="add-cart" type="submit">اضافه کردن به سبد خرید</button>
    </div>
  </div>
</div>