
<div class="col-4 col-lg-1 order-2 order-lg-4">
  <div class="accessibility-items">
    <div class="user-item">	<a class="user-s" href="javascript:void(0)"><i class="icon-user"> </i></a></div>
    <div class="access-item md-search">
      <button class="access-style nav-search" type="button" data-toggle="modal" data-target=".bd-example-modal"><span class="icon-search"></span></button>
      <div class="modal fade bd-example-modal search-focus" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <div class="modal-body search-center">
              <form class="search-form">
                <input class="search-index search-input" type="search" placeholder="محصول خود را اینجا جستجو کنید ..."/>
                <button class="search-button" type="submit"><span class="icon-search"></span></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="access-item">
      <!--navigation-cart--><a class="access-style shop-cart" id="navigation-cart" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="shop-cart__icon icon-shopping-cart"></i><span class="shop-cart__cartNumber">25</span></a>
      <div class="dropdown-menu shop" aria-labelledby="navigation-cart">
        <div class="shop__header"><a href="javascript:void(0)"> <i class="icon-multiply"></i></a><span class="shop__header-title">(25 کالا) سبد شما</span><a class="shop__header-more" href="cart1.html">مشاهده ی سبد خرید<span class="shop__header-icon icon-angle-left"></span></a></div>
        <ul class="shop__list">
                <li class="shop__list-item"><a class="shop__list-img-wrapper" href="#">
                    <!--67*67--><img class="shop__list-img" src="dist/images/product/01.jpg" alt="pic"/></a>
                  <div class="shop__info"><a class="shop__info-title" href="#">
                      <p>سویشرت</p></a><span class="shop__info-price">5,962,000 تومان</span>
                    <div class="discount"><span class="discount__tag">10%</span><span class="discount__real-price">4,000,000</span></div><span class="shop__info-quantity">2 عدد</span>
                  </div><a class="shop__list-delete"><span class="icon-trash"></span></a>
                </li>
                <li class="shop__list-item"><a class="shop__list-img-wrapper" href="#">
                    <!--67*67--><img class="shop__list-img" src="dist/images/product/02.jpg" alt="pic"/></a>
                  <div class="shop__info"><a class="shop__info-title" href="#">
                      <p>شلوار</p></a><span class="shop__info-price">5,962,000 تومان</span>
                    <div class="discount"><span class="discount__tag">10%</span><span class="discount__real-price">4,000,000</span></div><span class="shop__info-quantity">2 عدد</span>
                  </div><a class="shop__list-delete"><span class="icon-trash"></span></a>
                </li>
                <li class="shop__list-item"><a class="shop__list-img-wrapper" href="#">
                    <!--67*67--><img class="shop__list-img" src="dist/images/product/03.jpg" alt="pic"/></a>
                  <div class="shop__info"><a class="shop__info-title" href="#">
                      <p>لباس تابستانی</p></a><span class="shop__info-price">5,962,000 تومان</span>
                    <div class="discount"><span class="discount__tag">10%</span><span class="discount__real-price">4,000,000</span></div><span class="shop__info-quantity">2 عدد</span>
                  </div><a class="shop__list-delete"><span class="icon-trash"></span></a>
                </li>
                <li class="shop__list-item"><a class="shop__list-img-wrapper" href="#">
                    <!--67*67--><img class="shop__list-img" src="dist/images/product/04.jpg" alt="pic"/></a>
                  <div class="shop__info"><a class="shop__info-title" href="#">
                      <p>شلوارک</p></a><span class="shop__info-price">5,962,000 تومان</span>
                    <div class="discount"><span class="discount__tag">10%</span><span class="discount__real-price">4,000,000</span></div><span class="shop__info-quantity">2 عدد</span>
                  </div><a class="shop__list-delete"><span class="icon-trash"></span></a>
                </li>
        </ul>
        <div class="shop__footer"><a class="shop__footer-btn" href="cart1.html">تسویه حساب</a>
          <div class="shop__footer-subtotal">
            <p class="shop__footer-text">مبلغ قابل پرداخت</p><span class="shop__footer-price">25,378,000</span>
            <p class="shop__footer-text">تومان</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>