.col-4.col-lg-1.order-2.order-lg-4
	.accessibility-items
		.user-item 	
			a.user-s(href="javascript:void(0)")
				i.icon-user 
		div.access-item.md-search
			button.access-style.nav-search(type='button' data-toggle='modal' data-target='.bd-example-modal')
				span.icon-search
			
			include _search
		.access-item
			include _navigation-cart

