
<header>
  <section class="fixed-nav">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 col-lg-2 logo order-1 order-lg-0">
          <h1><a href="index.html"><img src="dist/images/content/logo.png" alt="کشاورزی"/></a></h1>
        </div>
        <div class="hamburger">
          <ul class="hamburger-box">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="col-4 col-lg-5 order-0 order-lg-1 d-flex">
          <div class="col-auto navbar p-0">
            <div class="navbar-navigation">
              <ul class="navbar-nav">
                <li class="nav-logo"><img class="nav-logo__img" src="dist/images/content/logo.png" alt=""/></li>
                <li class="nav-item nav-user d-lg-none"><span class="nav-user__name">علیرضا حاجی قدیری</span><span class="nav-user__email">alireza.ha@gmail.com</span></li>
                <li class="nav-item d-lg-none"><a class="nav-link d-flex align-items-center" href="profile.html"><i class="icon-user ml-2" style="font-size:20px"></i>پروفایل</a></li>
                <li class="nav-item d-lg-none"><a class="nav-link d-flex align-items-center" href="profile-myheart.html"> <i class="icon-heart ml-2" style="font-size:20px">                       </i>علاقه مندی های شما</a></li>
                <li class="nav-item nav-line d-lg-none"></li>
                <li class="nav-item"><a class="nav-link" href="index.html">صفحه نخست</a></li>
                <li class="nav-item mdropdown"><a class="nav-link mdropdown__button" data-toggle="collapse" href="#collapseProduct1" aria-expanded="false">محصولات</a>
                  <ul class="collapse mdropdown__menu" id="collapseProduct1">
                    <li class="nav-item"><a class="nav-link mdropdown__button" data-toggle="collapse" href="#collapseProduct2" aria-expanded="false">مردانه</a>
                      <ul class="collapse mdropdown__sub-menu" id="collapseProduct2">
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">پیراهن مردانه</a></li>
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">شلوار مردانه</a></li>
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">پلیور و سویشرت مردانه  </a></li>
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">کاپشن مردانه </a></li>
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">لباس زیر مردانه </a></li>
                      </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link mdropdown__button" data-toggle="collapse" href="#collapsewoman" aria-expanded="false">زنانه</a>
                      <ul class="collapse mdropdown__sub-menu" id="collapsewoman">
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">پیراهن زنانه</a></li>
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">شلوار زنانه</a></li>
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">پلیور و سویشرت زنانه  </a></li>
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">کاپشن زنانه </a></li>
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">لباس زیر زنانه </a></li>
                      </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link mdropdown__button" data-toggle="collapse" href="#accesoriz" aria-expanded="false">اکسسوری</a>
                      <ul class="collapse mdropdown__sub-menu" id="accesoriz">
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">ساعت مچی مردانه</a></li>
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">فریم عینک طبی مردانه</a></li>
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">فریم عینک طبی مردانه</a></li>
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">کراوات و پاپیون </a></li>
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">کمربند و ساسپندر</a></li>
                      </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link mdropdown__button" data-toggle="collapse" href="#accesorizs" aria-expanded="false">آرایش بهداشتی</a>
                      <ul class="collapse mdropdown__sub-menu" id="accesorizs">
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">رنگ مو</a></li>
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">برس و شانه مو</a></li>
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">فریم عینک طبی مردانه</a></li>
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">آرایش لب</a></li>
                        <li class="nav-item"><a class="nav-link" href="archive-product.html">ماسک و تقویت کننده مو</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="nav-item mdropdown"><a class="nav-link mdropdown__button" data-toggle="collapse" href="#collapseNews" aria-expanded="false">مطالب آموزشی</a>
                  <ul class="collapse mdropdown__menu" id="collapseNews">
                    <li class="nav-item"><a class="nav-link" href="archive-product.html">اخبار و اطلاعیه</a></li>
                    <li class="nav-item"><a class="nav-link" href="archive-product.html">وبلاگ</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="archive-video.html">ویدئو</a></li>
                <li class="nav-item"><a class="nav-link" href="about-us.html">درباره ما</a></li>
                <li class="nav-item"><a class="nav-link" href="contact-us.html">تماس با ما</a></li>
                <li class="nav-item nav-line d-lg-none"></li>
                <li class="nav-item d-lg-none"><a class="nav-link" href="#">خروج          </a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-4 col-lg-1 order-2 order-lg-4">
          <div class="accessibility-items">
            <div class="user-item">	<a class="user-s" href="javascript:void(0)"><i class="icon-user"> </i></a></div>
            <div class="access-item md-search">
              <button class="access-style nav-search" type="button" data-toggle="modal" data-target=".bd-example-modal"><span class="icon-search"></span></button>
              <div class="modal fade bd-example-modal search-focus" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <div class="modal-body search-center">
                      <form class="search-form">
                        <input class="search-index search-input" type="search" placeholder="محصول خود را اینجا جستجو کنید ..."/>
                        <button class="search-button" type="submit"><span class="icon-search"></span></button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="access-item">
              <!--navigation-cart--><a class="access-style shop-cart" id="navigation-cart" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="shop-cart__icon icon-shopping-cart"></i><span class="shop-cart__cartNumber">25</span></a>
              <div class="dropdown-menu shop" aria-labelledby="navigation-cart">
                <div class="shop__header"><a href="javascript:void(0)"> <i class="icon-multiply"></i></a><span class="shop__header-title">(25 کالا) سبد شما</span><a class="shop__header-more" href="cart1.html">مشاهده ی سبد خرید<span class="shop__header-icon icon-angle-left"></span></a></div>
                <ul class="shop__list">
                                <li class="shop__list-item"><a class="shop__list-img-wrapper" href="#">
                                    <!--67*67--><img class="shop__list-img" src="dist/images/product/01.jpg" alt="pic"/></a>
                                  <div class="shop__info"><a class="shop__info-title" href="#">
                                      <p>سویشرت</p></a><span class="shop__info-price">5,962,000 تومان</span>
                                    <div class="discount"><span class="discount__tag">10%</span><span class="discount__real-price">4,000,000</span></div><span class="shop__info-quantity">2 عدد</span>
                                  </div><a class="shop__list-delete"><span class="icon-trash"></span></a>
                                </li>
                                <li class="shop__list-item"><a class="shop__list-img-wrapper" href="#">
                                    <!--67*67--><img class="shop__list-img" src="dist/images/product/02.jpg" alt="pic"/></a>
                                  <div class="shop__info"><a class="shop__info-title" href="#">
                                      <p>شلوار</p></a><span class="shop__info-price">5,962,000 تومان</span>
                                    <div class="discount"><span class="discount__tag">10%</span><span class="discount__real-price">4,000,000</span></div><span class="shop__info-quantity">2 عدد</span>
                                  </div><a class="shop__list-delete"><span class="icon-trash"></span></a>
                                </li>
                                <li class="shop__list-item"><a class="shop__list-img-wrapper" href="#">
                                    <!--67*67--><img class="shop__list-img" src="dist/images/product/03.jpg" alt="pic"/></a>
                                  <div class="shop__info"><a class="shop__info-title" href="#">
                                      <p>لباس تابستانی</p></a><span class="shop__info-price">5,962,000 تومان</span>
                                    <div class="discount"><span class="discount__tag">10%</span><span class="discount__real-price">4,000,000</span></div><span class="shop__info-quantity">2 عدد</span>
                                  </div><a class="shop__list-delete"><span class="icon-trash"></span></a>
                                </li>
                                <li class="shop__list-item"><a class="shop__list-img-wrapper" href="#">
                                    <!--67*67--><img class="shop__list-img" src="dist/images/product/04.jpg" alt="pic"/></a>
                                  <div class="shop__info"><a class="shop__info-title" href="#">
                                      <p>شلوارک</p></a><span class="shop__info-price">5,962,000 تومان</span>
                                    <div class="discount"><span class="discount__tag">10%</span><span class="discount__real-price">4,000,000</span></div><span class="shop__info-quantity">2 عدد</span>
                                  </div><a class="shop__list-delete"><span class="icon-trash"></span></a>
                                </li>
                </ul>
                <div class="shop__footer"><a class="shop__footer-btn" href="cart1.html">تسویه حساب</a>
                  <div class="shop__footer-subtotal">
                    <p class="shop__footer-text">مبلغ قابل پرداخت</p><span class="shop__footer-price">25,378,000</span>
                    <p class="shop__footer-text">تومان</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-lg-2 d-none d-lg-block">
          <div class="search_tunnel">
            <input class="search_box" type="text" placeholder=" جستجو محصول , برند یا هر چیز دیگر ..."/><a href="javascript:void(0)">	<i class="icon-search icon-box"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>