



.col-auto.navbar.p-0
    .navbar-navigation
      ul.navbar-nav
          li.nav-logo
              img.nav-logo__img(src="dist/images/content/logo.png", alt="")
          li.nav-item.nav-user.d-lg-none
              span.nav-user__name علیرضا حاجی قدیری
              span.nav-user__email alireza.ha@gmail.com
          
          li.nav-item.d-lg-none
              a.nav-link(href="profile.html")
                  
                  | پروفایل
          li.nav-item.d-lg-none
              a.nav-link(href="profile-myheart.html")                          
                  | علاقه مندی های شما
          li.nav-item.nav-line.d-lg-none
          li.nav-item
              a.nav-link(href="index.html") صفحه نخست
          li.nav-item.mega
              a#mega__button.nav-link(data-toggle="collapse" href="#collapseProduct1" aria-expanded="false")
                  | محصولات
              ul#collapseProduct1.collapse.mega__menu
                  li.nav-item
                      a.nav-link.mega__button(data-toggle="collapse" href="#collapseProduct2" aria-expanded="false")
                        | مخزن کامپوزیتی
                      #collapseProduct2.collapse.mega__sub-wrapper
                          ul.mega__sub-menu
                            li.mega__item
                                a.mega__link(href="archive-product.html")
                                  | مخزن کامپوزیتی
                            li.mega__item
                                a.mega__link(href="archive-product.html")
                                  | کامپوزیت
                            li.mega__item
                                a.mega__link(href="archive-product.html")
                                  | ورق کامپوزیت
                  li.nav-item
                      a.nav-link.mega__button(data-toggle="collapse" href="#collapseProduct3" aria-expanded="false")
                        | مخزن کامپوزیتی
                      #collapseProduct3.collapse.mega__sub-wrapper
                          ul.mega__sub-menu
                            li.mega__item
                                a.mega__link(href="archive-product.html")
                                  | مخزن کامپوزیتی
                            li.mega__item
                                a.mega__link(href="archive-product.html")
                                  | کامپوزیت
                            li.mega__item
                                a.mega__link(href="archive-product.html")
                                  | ورق کامپوزیت
                  li.nav-item
                      a.nav-link.mega__button(data-toggle="collapse" href="#collapseProduct4" aria-expanded="false")
                        | مخزن کامپوزیتی
                      #collapseProduct4.collapse.mega__sub-wrapper
                          ul.mega__sub-menu
                            li.mega__item
                                a.mega__link(href="archive-product.html")
                                  | مخزن کامپوزیتی
                            li.mega__item
                                a.mega__link(href="archive-product.html")
                                  | کامپوزیت
                            li.mega__item
                                a.mega__link(href="archive-product.html")
                                  | ورق کامپوزیت
          li.nav-item
              a.nav-link(href="service.html") خدمات
          li.nav-item
              a.nav-link(href="archive-article.html") مطالب آموزشی
          li.nav-item
              a.nav-link(href="about-us.html") درباره ما
          li.nav-item
              a.nav-link(href="contact-us.html") تماس با ما
          li.nav-item.nav-line.d-lg-none
          li.nav-item.d-lg-none
              a.nav-link(href="#") خروج          