
<div class="col-auto navbar p-0">
  <div class="navbar-navigation">
    <ul class="navbar-nav">
      <li class="nav-logo"><img class="nav-logo__img" src="dist/images/content/logo.png" alt=""/></li>
      <li class="nav-item nav-user d-lg-none"><span class="nav-user__name">علیرضا حاجی قدیری</span><span class="nav-user__email">alireza.ha@gmail.com</span></li>
      <li class="nav-item d-lg-none"><a class="nav-link" href="profile.html">پروفایل</a></li>
      <li class="nav-item d-lg-none"><a class="nav-link" href="profile-myheart.html">
                                   علاقه مندی های شما</a></li>
      <li class="nav-item nav-line d-lg-none"></li>
      <li class="nav-item"><a class="nav-link" href="index.html">صفحه نخست</a></li>
      <li class="nav-item mega"><a class="nav-link" id="mega__button" data-toggle="collapse" href="#collapseProduct1" aria-expanded="false">محصولات</a>
        <ul class="collapse mega__menu" id="collapseProduct1">
          <li class="nav-item"><a class="nav-link mega__button" data-toggle="collapse" href="#collapseProduct2" aria-expanded="false">مخزن کامپوزیتی</a>
            <div class="collapse mega__sub-wrapper" id="collapseProduct2">
              <ul class="mega__sub-menu">
                <li class="mega__item"><a class="mega__link" href="archive-product.html">مخزن کامپوزیتی</a></li>
                <li class="mega__item"><a class="mega__link" href="archive-product.html">کامپوزیت</a></li>
                <li class="mega__item"><a class="mega__link" href="archive-product.html">ورق کامپوزیت</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link mega__button" data-toggle="collapse" href="#collapseProduct3" aria-expanded="false">مخزن کامپوزیتی</a>
            <div class="collapse mega__sub-wrapper" id="collapseProduct3">
              <ul class="mega__sub-menu">
                <li class="mega__item"><a class="mega__link" href="archive-product.html">مخزن کامپوزیتی</a></li>
                <li class="mega__item"><a class="mega__link" href="archive-product.html">کامپوزیت</a></li>
                <li class="mega__item"><a class="mega__link" href="archive-product.html">ورق کامپوزیت</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link mega__button" data-toggle="collapse" href="#collapseProduct4" aria-expanded="false">مخزن کامپوزیتی</a>
            <div class="collapse mega__sub-wrapper" id="collapseProduct4">
              <ul class="mega__sub-menu">
                <li class="mega__item"><a class="mega__link" href="archive-product.html">مخزن کامپوزیتی</a></li>
                <li class="mega__item"><a class="mega__link" href="archive-product.html">کامپوزیت</a></li>
                <li class="mega__item"><a class="mega__link" href="archive-product.html">ورق کامپوزیت</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href="service.html">خدمات</a></li>
      <li class="nav-item"><a class="nav-link" href="archive-article.html">مطالب آموزشی</a></li>
      <li class="nav-item"><a class="nav-link" href="about-us.html">درباره ما</a></li>
      <li class="nav-item"><a class="nav-link" href="contact-us.html">تماس با ما</a></li>
      <li class="nav-item nav-line d-lg-none"></li>
      <li class="nav-item d-lg-none"><a class="nav-link" href="#">خروج          </a></li>
    </ul>
  </div>
</div>