
.col-auto.navbar.p-0
    .navbar-navigation
        ul.navbar-nav
            li.nav-logo
                img.nav-logo__img(src="dist/images/content/logo.png" alt="")
            li.nav-item.nav-user.d-lg-none
                span.nav-user__name علیرضا حاجی قدیری
                span.nav-user__email alireza.ha@gmail.com

            li.nav-item.d-lg-none
                a.nav-link.d-flex.align-items-center(href="profile.html")
                    i.icon-user.ml-2(style="font-size:20px")

                    | پروفایل
            li.nav-item.d-lg-none
                a.nav-link.d-flex.align-items-center(href="profile-myheart.html")  

                    i.icon-heart.ml-2(style="font-size:20px")                        
                    | علاقه مندی های شما
            li.nav-item.nav-line.d-lg-none
            li.nav-item
                a.nav-link(href="index.html") صفحه نخست
            li.nav-item.mdropdown
                a.nav-link.mdropdown__button(data-toggle="collapse" href="#collapseProduct1" aria-expanded="false")
                    | محصولات
                ul#collapseProduct1.collapse.mdropdown__menu
                    li.nav-item
                        a.nav-link.mdropdown__button(data-toggle="collapse" href="#collapseProduct2" aria-expanded="false")
                            | مردانه
                        ul#collapseProduct2.collapse.mdropdown__sub-menu
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | پیراهن مردانه
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | شلوار مردانه
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | پلیور و سویشرت مردانه  
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | کاپشن مردانه 
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | لباس زیر مردانه 
                    li.nav-item
                        a.nav-link.mdropdown__button(data-toggle="collapse" href="#collapsewoman" aria-expanded="false")
                            | زنانه
                        ul#collapsewoman.collapse.mdropdown__sub-menu
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | پیراهن زنانه
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | شلوار زنانه
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | پلیور و سویشرت زنانه  
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | کاپشن زنانه 
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | لباس زیر زنانه 
                    li.nav-item
                        a.nav-link.mdropdown__button(data-toggle="collapse" href="#accesoriz" aria-expanded="false")
                            | اکسسوری
                        ul#accesoriz.collapse.mdropdown__sub-menu
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | ساعت مچی مردانه
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | فریم عینک طبی مردانه
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | فریم عینک طبی مردانه
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | کراوات و پاپیون 
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | کمربند و ساسپندر

                    li.nav-item
                        a.nav-link.mdropdown__button(data-toggle="collapse" href="#accesorizs" aria-expanded="false")
                            | آرایش بهداشتی
                        ul#accesorizs.collapse.mdropdown__sub-menu
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | رنگ مو
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | برس و شانه مو
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | فریم عینک طبی مردانه
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | آرایش لب
                            li.nav-item
                                a.nav-link(href="archive-product.html")
                                    | ماسک و تقویت کننده مو



            li.nav-item.mdropdown
                a.nav-link.mdropdown__button(data-toggle="collapse" href="#collapseNews" aria-expanded="false")
                    | مطالب آموزشی
                ul#collapseNews.collapse.mdropdown__menu
                    li.nav-item
                        a.nav-link(href="archive-product.html")
                            | اخبار و اطلاعیه
                    li.nav-item
                        a.nav-link(href="archive-product.html")
                            | وبلاگ
            li.nav-item
                a.nav-link(href="archive-video.html") ویدئو
            li.nav-item
                a.nav-link(href="about-us.html") درباره ما
            li.nav-item
                a.nav-link(href="contact-us.html") تماس با ما
            li.nav-item.nav-line.d-lg-none
            li.nav-item.d-lg-none
                a.nav-link(href="#") خروج          