
<div class="col-auto navbar p-0">
  <div class="navbar-navigation">
    <ul class="navbar-nav">
      <li class="nav-logo"><img class="nav-logo__img" src="dist/images/content/logo.png" alt=""/></li>
      <li class="nav-item nav-user d-lg-none"><span class="nav-user__name">علیرضا حاجی قدیری</span><span class="nav-user__email">alireza.ha@gmail.com</span></li>
      <li class="nav-item d-lg-none"><a class="nav-link d-flex align-items-center" href="profile.html"><i class="icon-user ml-2" style="font-size:20px"></i>پروفایل</a></li>
      <li class="nav-item d-lg-none"><a class="nav-link d-flex align-items-center" href="profile-myheart.html"> <i class="icon-heart ml-2" style="font-size:20px">                       </i>علاقه مندی های شما</a></li>
      <li class="nav-item nav-line d-lg-none"></li>
      <li class="nav-item"><a class="nav-link" href="index.html">صفحه نخست</a></li>
      <li class="nav-item mdropdown"><a class="nav-link mdropdown__button" data-toggle="collapse" href="#collapseProduct1" aria-expanded="false">محصولات</a>
        <ul class="collapse mdropdown__menu" id="collapseProduct1">
          <li class="nav-item"><a class="nav-link mdropdown__button" data-toggle="collapse" href="#collapseProduct2" aria-expanded="false">مردانه</a>
            <ul class="collapse mdropdown__sub-menu" id="collapseProduct2">
              <li class="nav-item"><a class="nav-link" href="archive-product.html">پیراهن مردانه</a></li>
              <li class="nav-item"><a class="nav-link" href="archive-product.html">شلوار مردانه</a></li>
              <li class="nav-item"><a class="nav-link" href="archive-product.html">پلیور و سویشرت مردانه  </a></li>
              <li class="nav-item"><a class="nav-link" href="archive-product.html">کاپشن مردانه </a></li>
              <li class="nav-item"><a class="nav-link" href="archive-product.html">لباس زیر مردانه </a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link mdropdown__button" data-toggle="collapse" href="#collapsewoman" aria-expanded="false">زنانه</a>
            <ul class="collapse mdropdown__sub-menu" id="collapsewoman">
              <li class="nav-item"><a class="nav-link" href="archive-product.html">پیراهن زنانه</a></li>
              <li class="nav-item"><a class="nav-link" href="archive-product.html">شلوار زنانه</a></li>
              <li class="nav-item"><a class="nav-link" href="archive-product.html">پلیور و سویشرت زنانه  </a></li>
              <li class="nav-item"><a class="nav-link" href="archive-product.html">کاپشن زنانه </a></li>
              <li class="nav-item"><a class="nav-link" href="archive-product.html">لباس زیر زنانه </a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link mdropdown__button" data-toggle="collapse" href="#accesoriz" aria-expanded="false">اکسسوری</a>
            <ul class="collapse mdropdown__sub-menu" id="accesoriz">
              <li class="nav-item"><a class="nav-link" href="archive-product.html">ساعت مچی مردانه</a></li>
              <li class="nav-item"><a class="nav-link" href="archive-product.html">فریم عینک طبی مردانه</a></li>
              <li class="nav-item"><a class="nav-link" href="archive-product.html">فریم عینک طبی مردانه</a></li>
              <li class="nav-item"><a class="nav-link" href="archive-product.html">کراوات و پاپیون </a></li>
              <li class="nav-item"><a class="nav-link" href="archive-product.html">کمربند و ساسپندر</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link mdropdown__button" data-toggle="collapse" href="#accesorizs" aria-expanded="false">آرایش بهداشتی</a>
            <ul class="collapse mdropdown__sub-menu" id="accesorizs">
              <li class="nav-item"><a class="nav-link" href="archive-product.html">رنگ مو</a></li>
              <li class="nav-item"><a class="nav-link" href="archive-product.html">برس و شانه مو</a></li>
              <li class="nav-item"><a class="nav-link" href="archive-product.html">فریم عینک طبی مردانه</a></li>
              <li class="nav-item"><a class="nav-link" href="archive-product.html">آرایش لب</a></li>
              <li class="nav-item"><a class="nav-link" href="archive-product.html">ماسک و تقویت کننده مو</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="nav-item mdropdown"><a class="nav-link mdropdown__button" data-toggle="collapse" href="#collapseNews" aria-expanded="false">مطالب آموزشی</a>
        <ul class="collapse mdropdown__menu" id="collapseNews">
          <li class="nav-item"><a class="nav-link" href="archive-product.html">اخبار و اطلاعیه</a></li>
          <li class="nav-item"><a class="nav-link" href="archive-product.html">وبلاگ</a></li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href="archive-video.html">ویدئو</a></li>
      <li class="nav-item"><a class="nav-link" href="about-us.html">درباره ما</a></li>
      <li class="nav-item"><a class="nav-link" href="contact-us.html">تماس با ما</a></li>
      <li class="nav-item nav-line d-lg-none"></li>
      <li class="nav-item d-lg-none"><a class="nav-link" href="#">خروج          </a></li>
    </ul>
  </div>
</div>