.modal.fade.bd-example-modal.search-focus(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-dialog.modal-dialog-centered
        .modal-content
            button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body.search-center
                form.search-form
                    input.search-index.search-input(type='search' placeholder='محصول خود را اینجا جستجو کنید ...')
                    button.search-button(type='submit')
                        span.icon-search