
<div class="modal fade bd-example-modal search-focus" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <div class="modal-body search-center">
        <form class="search-form">
          <input class="search-index search-input" type="search" placeholder="محصول خود را اینجا جستجو کنید ..."/>
          <button class="search-button" type="submit"><span class="icon-search"></span></button>
        </form>
      </div>
    </div>
  </div>
</div>