
<section class="article-section">
  <div class="container-fluid">
    <div class="row">
      <div class="owl-carousel owl-theme owl-article">
        <div class="item">
          <div class="article_wrapper">
            <div class="first"><a class="article_img_link" href="javascript:void(0)"><img class="article_img" src="/dist/images/articles/01.jpg" alt="pic"/></a>
              <div class="new">جدید</div>
            </div>
            <div class="article_desk"><a class="article_title" href="javascript:void(0)">
                <p class="title">از سیر تا پیاز استایل اوور سایز زنانه</p></a>
              <div class="is_divider"></div>
              <p class="article_discription">به نظر می‌رسد لباس‌های اورسایز چیزی نیست که به این زودی‌ها‌ ویترین مغازه‌ها را ترک کند. لباس‌هایی که نمونه آن‌ها را در فیلم و تصویرهای...</p>
              <div class="proprity">
                <div id="date"><i class="icon-edit"></i>
                  <div class="date">1397/10/25</div>
                </div>
                <div id="author"><i class="icon-user"></i>
                  <div class="person">مهدی نظری</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>