
<section class="category">
  <div class="container-fluid"> 
    <div class="row"> 
      <div class="st col-xl col-lg col-md-4 col-6">
        <figure class="category_item"> <a class="item_image_link" href="javascript:void(0)"><img class="item_img" src="/dist/images/model/men.jpg" alt=""/></a>
          <figcaption class="caption">
            <h2 class="exam_text">طرح <span class="fill_text">مردانه</span></h2>
            <p class="discription_text">حس خوب تازگی</p>
          </figcaption>
        </figure>
      </div>
      <div class="st col-xl col-lg col-md-4 col-6">
        <figure class="category_item"> <a class="item_image_link" href="javascript:void(0)"><img class="item_img" src="/dist/images/model/girl.jpg" alt=""/></a>
          <figcaption class="caption">
            <h2 class="exam_text">طرح <span class="fill_text">زنانه</span></h2>
            <p class="discription_text">برازندگی بی همتا</p>
          </figcaption>
        </figure>
      </div>
      <div class="st col-xl col-lg col-md-4 col-6">
        <figure class="category_item"> <a class="item_image_link" href="javascript:void(0)"><img class="item_img" src="/dist/images/model/aryeshi.jpg" alt=""/></a>
          <figcaption class="caption">
            <h2 class="exam_text">  آرایشی و<span class="fill_text">بهداشتی  </span></h2>
            <p class="discription_text">زیبایی و برازندگی</p>
          </figcaption>
        </figure>
      </div>
      <div class="st col-xl col-lg col-md-4 col-6">
        <figure class="category_item"> <a class="item_image_link" href="javascript:void(0)"><img class="item_img" src="/dist/images/model/food.jpg" alt=""/></a>
          <figcaption class="caption">
            <h2 class="exam_text">خوراکی <span class="fill_text">و آشامیدنی </span></h2>
            <p class="discription_text">کیفیت بی نظیر محصولات ما</p>
          </figcaption>
        </figure>
      </div>
      <div class="st col-xl col-lg col-md-4 col-6">
        <figure class="category_item"> <a class="item_image_link" href="javascript:void(0)"><img class="item_img" src="/dist/images/model/kids.jpg" alt=""/></a>
          <figcaption class="caption">
            <h2 class="exam_text">بچگانه و <span class="fill_text"> کودک</span></h2>
            <p class="discription_text">حس شور و اشتیاق</p>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>