section.category
     .container-fluid 
          .row 
               .st.col-xl.col-lg.col-md-4.col-6
                    figure.category_item 
                         a.item_image_link(href="javascript:void(0)")
                              img.item_img(src="/dist/images/model/men.jpg" alt="") 
                         figcaption.caption
                              h2.exam_text طرح 
                                   span.fill_text مردانه
                              p.discription_text حس خوب تازگی

               .st.col-xl.col-lg.col-md-4.col-6
                    figure.category_item 
                         a.item_image_link(href="javascript:void(0)")
                              img.item_img(src="/dist/images/model/girl.jpg" alt="") 
                         figcaption.caption
                              h2.exam_text طرح 
                                   span.fill_text زنانه
                              p.discription_text برازندگی بی همتا

               .st.col-xl.col-lg.col-md-4.col-6
                    figure.category_item 
                         a.item_image_link(href="javascript:void(0)")
                              img.item_img(src="/dist/images/model/aryeshi.jpg" alt="") 
                         figcaption.caption
                              h2.exam_text   آرایشی و
                                   span.fill_text بهداشتی  

                              p.discription_text زیبایی و برازندگی

               .st.col-xl.col-lg.col-md-4.col-6
                    figure.category_item 
                         a.item_image_link(href="javascript:void(0)")
                              img.item_img(src="/dist/images/model/food.jpg" alt="") 
                         figcaption.caption
                              h2.exam_text خوراکی 
                                   span.fill_text و آشامیدنی 
                              p.discription_text کیفیت بی نظیر محصولات ما
               .st.col-xl.col-lg.col-md-4.col-6
                    figure.category_item 
                         a.item_image_link(href="javascript:void(0)")
                              img.item_img(src="/dist/images/model/kids.jpg" alt="") 
                         figcaption.caption
                              h2.exam_text بچگانه و 
                                   span.fill_text  کودک
                              p.discription_text حس شور و اشتیاق

