
<section class="most_popular">
  <div class="container-fluid">
    <div class="row"> 
      <div class="col-12"> 
        <div class="owl-carousel owl-theme owl_most_popular">
          <div class="item"> 
            <div class="item_box_category"><a class="category_link" href="javascript:void(0)"><img class="img_model_one" src="/dist/images/model/model-2.jpg" alt=""/><img class="img_model_two" src="/dist/images/model/model-1.jpg" alt=""/></a>
              <div class="product_hover"> <a class="eye_item" href="javascript:void(0)">      <i class="icon-eyeglasses"></i></a><a class="heart_item" href="javascript:void(0)">      <i class="icon-heart"> </i></a><a class="compare_item" href="javascript:void(0)">      <i class="icon-compare"></i></a></div>
              <div class="product_offer"><span class="percent">%</span><span class="offer">40</span></div>
              <div class="desk_category">
                <div class="group_1 odden"><a class="product_brand"> 
                    <p class="brand">Tulika</p></a><span class="price_old">440,000 تومان</span></div>
                <div class="group_2 odden"><a class="link_desk_title" href="javascript:void(0)"> 
                    <p class="desk_title">تیشرت مردانه جنس مرغوب</p></a><span class="price_new">230,000 تومان</span></div>
                <div class="group_3 odden d-none d-lg-flex">
                  <div class="prob"><span class="proprity">S </span><span class="proprity">M</span><span class="proprity">L </span><span class="proprity">XL </span><span id="balance">+2</span></div>
                  <div class="color_pallet"><span class="color red"></span><span class="color blue"></span><span class="color green"></span><span class="color pink"></span><span class="color black"></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row see_mores"> <a class="see_more btn" href="javascript:void(0)">مشاهده بیشتر<i class="icon-chevron-left"></i></a></div>
  </div>
</section>