section.newsest
     .container-fluid
          .row 
               .col-12 
                    .owl-carousel.owl-theme.owl_newsest
                         .item 
                              .item_box_category


                                   a.category_link(href="javascript:void(0)")
                                        img.img_model_one(src="/dist/images/model/model-2.jpg" alt="") 
                                        img.img_model_two(src="/dist/images/model/model-1.jpg" alt="") 

                                   .product_hover 
                                        a.eye_item(href="javascript:void(0)")       
                                             i.icon-eyeglasses
                                        a.heart_item(href="javascript:void(0)")       
                                             i.icon-heart 
                                        a.compare_item(href="javascript:void(0)")       
                                             i.icon-compare

                                   .product_offer
                                        span.percent %
                                        span.offer 40




                                   .desk_category
                                        .group_1.odden
                                             a.product_brand 
                                                  p.brand Tulika
                                             span.price_old 440,000 تومان

                                        .group_2.odden
                                             a(href="javascript:void(0)").link_desk_title 
                                                  p.desk_title تیشرت مردانه جنس مرغوب

                                             span.price_new 230,000 تومان

                                        .group_3.odden.d-none.d-lg-flex 
                                             .prob
                                                  span.proprity S 
                                                  span.proprity M
                                                  span.proprity L 
                                                  span.proprity XL 
                                                  span#balance +2
                                             .color_pallet
                                                  span.color.red
                                                  span.color.blue
                                                  span.color.green
                                                  span.color.pink
                                                  span.color.black

          .row.see_mores 
               a.see_more.btn(href="javascript:void(0)") مشاهده بیشتر
                    i.icon-chevron-left