section
	.container
		.row
			.col-md-7.col-lg-4.p-0
				img.png-img(src="dist/images/content/tools.png", alt="")
			.col-md-5.col-lg-8.sections
					h3.sections__title
						| ابزار
					ul.nav.nav-pills.mb-3.sections__nav-pills(role='tablist')
						li.nav-item
							a#pills-home-tab2.sections__link.nav-link.active(data-toggle='pill' href='#pills-home2' role='tab' aria-controls='pills-home2' aria-selected='true') جدیدترین ها
						li.nav-item
							a#pills-profile-tab2.sections__link.nav-link(data-toggle='pill' href='#pills-profile2' role='tab' aria-controls='pills-profile2' aria-selected='false') محبوب‌ترین ها
					#pills-tabContent.tab-content
						#pills-home2.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-home-tab2')
							.owl-carousel.owl-theme.owl-product
												.item
													figure.product-grid8
														.product-image8
															//205*205
															a(href="detail-product.html")
																img.img-fluid(src='dist/images/product/01.jpg', alt="")
															ul.social
																li
																	a.icon-eye(href='detail-product.html')
																li
																	a.icon-shopping-cart(href='cart.html')
															span.product-discount-label 20%
														figcaption.product-content
															.price
																| 2,800,000 تومان
																span 3,000,000
															.title
																a(href='detail-product.html')
																	h4 چاقوی پیوند دو تیغه
												.item
													figure.product-grid8
														.product-image8
															a(href="detail-product.html")
																img.img-fluid(src='dist/images/product/02.jpg', alt="")
															ul.social
																li
																	a.icon-eye(href='detail-product.html')
																li
																	a.icon-shopping-cart(href='cart.html')
															span.product-discount-label 20%
														figcaption.product-content
															.price
																| 2,800,000 تومان
																span 3,000,000
															.title
																a(href='detail-product.html')
																	h4 چاقوی پیوند دو تیغه
												.item
													figure.product-grid8
														.product-image8
															a(href="detail-product.html")
																img.img-fluid(src='dist/images/product/03.jpg', alt="")
															ul.social
																li
																	a.icon-eye(href='detail-product.html')
																li
																	a.icon-shopping-cart(href='cart.html')
															span.product-discount-label 20%
														figcaption.product-content
															.price
																| 2,800,000 تومان
																span 3,000,000
															.title
																a(href='detail-product.html')
																	h4 چاقوی پیوند دو تیغه
												.item
													figure.product-grid8
														.product-image8
															a(href="detail-product.html")
																img.img-fluid(src='dist/images/product/04.jpg', alt="")
															ul.social
																li
																	a.icon-eye(href='detail-product.html')
																li
																	a.icon-shopping-cart(href='cart.html')
															span.product-discount-label 20%
														figcaption.product-content
															.price
																| 2,800,000 تومان
																span 3,000,000
															.title
																a(href='detail-product.html')
																	h4 چاقوی پیوند دو تیغه
												.item
													figure.product-grid8
														.product-image8
															a(href="detail-product.html")
																img.img-fluid(src='dist/images/product/05.jpg', alt="")
															ul.social
																li
																	a.icon-eye(href='detail-product.html')
																li
																	a.icon-shopping-cart(href='cart.html')
															span.product-discount-label 20%
														figcaption.product-content
															.price
																| 2,800,000 تومان
																span 3,000,000
															.title
																a(href='detail-product.html')
																	h4 چاقوی پیوند دو تیغه
												.item
													figure.product-grid8
														.product-image8
															a(href="detail-product.html")
																img.img-fluid(src='dist/images/product/06.jpg', alt="")
															ul.social
																li
																	a.icon-eye(href='detail-product.html')
																li
																	a.icon-shopping-cart(href='cart.html')
															span.product-discount-label 20%
														figcaption.product-content
															.price
																| 2,800,000 تومان
																span 3,000,000
															.title
																a(href='detail-product.html')
																	h4 چاقوی پیوند دو تیغه
						#pills-profile2.tab-pane.fade(role='tabpanel' aria-labelledby='pills-profile-tab2')
							.owl-carousel.owl-theme.owl-product
											.item
												figure.product-grid8
													.product-image8
														//205*205
														a(href="detail-product.html")
															img.img-fluid(src='dist/images/product/01.jpg', alt="")
														ul.social
															li
																a.icon-eye(href='detail-product.html')
															li
																a.icon-shopping-cart(href='cart.html')
														span.product-discount-label 20%
													figcaption.product-content
														.price
															| 2,800,000 تومان
															span 3,000,000
														.title
																a(href='detail-product.html')
																	h4 چاقوی پیوند دو تیغه
											.item
												figure.product-grid8
													.product-image8
														a(href="detail-product.html")
															img.img-fluid(src='dist/images/product/02.jpg', alt="")
														ul.social
															li
																a.icon-eye(href='detail-product.html')
															li
																a.icon-shopping-cart(href='cart.html')
														span.product-discount-label 20%
													figcaption.product-content
														.price
															| 2,800,000 تومان
															span 3,000,000
														.title
																a(href='detail-product.html')
																	h4 چاقوی پیوند دو تیغه
											.item
												figure.product-grid8
													.product-image8
														a(href="detail-product.html")
															img.img-fluid(src='dist/images/product/03.jpg', alt="")
														ul.social
															li
																a.icon-eye(href='detail-product.html')
															li
																a.icon-shopping-cart(href='cart.html')
														span.product-discount-label 20%
													figcaption.product-content
														.price
															| 2,800,000 تومان
															span 3,000,000
														.title
																a(href='detail-product.html')
																	h4 چاقوی پیوند دو تیغه
											.item
												figure.product-grid8
													.product-image8
														a(href="detail-product.html")
															img.img-fluid(src='dist/images/product/04.jpg', alt="")
														ul.social
															li
																a.icon-eye(href='detail-product.html')
															li
																a.icon-shopping-cart(href='cart.html')
														span.product-discount-label 20%
													figcaption.product-content
														.price
															| 2,800,000 تومان
															span 3,000,000
														.title
																a(href='detail-product.html')
																	h4 چاقوی پیوند دو تیغه
											.item
												figure.product-grid8
													.product-image8
														a(href="detail-product.html")
															img.img-fluid(src='dist/images/product/05.jpg', alt="")
														ul.social
															li
																a.icon-eye(href='detail-product.html')
															li
																a.icon-shopping-cart(href='cart.html')
														span.product-discount-label 20%
													figcaption.product-content
														.price
															| 2,800,000 تومان
															span 3,000,000
														.title
																a(href='detail-product.html')
																	h4 چاقوی پیوند دو تیغه
											.item
												figure.product-grid8
													.product-image8
														a(href="detail-product.html")
															img.img-fluid(src='dist/images/product/06.jpg', alt="")
														ul.social
															li
																a.icon-eye(href='detail-product.html')
															li
																a.icon-shopping-cart(href='cart.html')
														span.product-discount-label 20%
													figcaption.product-content
														.price
															| 2,800,000 تومان
															span 3,000,000
														.title
																a(href='detail-product.html')
																	h4 چاقوی پیوند دو تیغه