
<section class="branding"> 
  <div class="container"> 
    <div class="row"> 
      <div class="col-12"></div>
      <div class="owl-carousel owl-theme owl-branding">
        <div class="item"><a class="brand_link" href="javascript:void(0)"><img src="/dist/images/brands/177-brand-136x69.jpg" alt=""/></a></div>
        <div class="item"><a class="brand_link" href="javascript:void(0)"><img src="/dist/images/brands/2-brand-136x69.jpg" alt=""/></a></div>
        <div class="item"><a class="brand_link" href="javascript:void(0)"><img src="/dist/images/brands/231-brand-136x69.jpg" alt=""/></a></div>
        <div class="item"><a class="brand_link" href="javascript:void(0)"><img src="/dist/images/brands/239-brand-136x69.jpg" alt=""/></a></div>
        <div class="item"><a class="brand_link" href="javascript:void(0)"><img src="/dist/images/brands/362-brand-136x69.jpg" alt=""/></a></div>
        <div class="item"><a class="brand_link" href="javascript:void(0)"><img src="/dist/images/brands/434-brand-136x69.jpg" alt=""/></a></div>
        <div class="item"><a class="brand_link" href="javascript:void(0)"><img src="/dist/images/brands/562-brand-136x69.jpg" alt=""/></a></div>
        <div class="item"><a class="brand_link" href="javascript:void(0)"><img src="/dist/images/brands/82-brand-136x69.jpg" alt=""/></a></div>
        <div class="item"><a class="brand_link" href="javascript:void(0)"><img src="/dist/images/brands/82-brand-136x69.jpg" alt=""/></a></div>
      </div>
    </div>
  </div>
</section>