
<section class="slider-handler lazy-slider">
  <div class="container-fluid p-0">
    <div class="row m-0">
      <div class="owl-carousel owl-theme owl-slide p-0">
        <div class="item"><a href=""> 
            <picture>   
              <!--575*500-->
              <source media="(max-width:575.98px)" srcset="dist/images/slide/02-s.jpg"/>
              <source media="(max-width:767.98px)" srcset="dist/images/slide/02-md.jpg"/>
              <!--2000*764--><img class="img-slide d-block w-100" src="dist/images/slide/02.jpg" alt="First slide"/>
            </picture></a></div>
        <div class="item"><a href=""> 
            <picture>
              <source media="(max-width:575.98px)" srcset="dist/images/slide/01-s.jpg"/>
              <source media="(max-width:767.98px)" srcset="dist/images/slide/02-md.jpg"/><img class="img-slide d-block w-100" src="dist/images/slide/01.jpg" alt="Second slide"/>
            </picture></a></div>
        <div class="item"><a href=""> 
            <picture>
              <source media="(max-width:575.98px)" srcset="dist/images/slide/02-s.jpg"/>
              <source media="(max-width:767.98px)" srcset="dist/images/slide/02-md.jpg"/><img class="d-block w-100" src="dist/images/slide/03.jpg" alt="Second slide"/>
            </picture></a></div>
      </div>
    </div>
  </div>
</section>