
<div class="filter-search mt-2"><span class="filter-search__label">جستجو :</span>
  <form class="filter-search__form">
    <div class="filter-search__field">
      <input class="form-control" type="text" placeholder="اینجا جستجو کنید..."/>
    </div>
    <button class="filter-search__submit" type="submit"><span class="icon-search"></span></button>
  </form>
</div>
<div class="filter-accordion" id="main-accordion1">
  <div class="filter-accordion__item">
    <h5 class="filter-accordion__header">
      <button class="filter-accordion__button collapsed" data-toggle="collapse" data-target="#group-collapse-dd" aria-expanded="false">فیلتر براساس ناشر           <span class="icon-angle-down filter-accordion__icon"></span></button>
    </h5>
    <div class="collapse show" id="group-collapse-dd" data-parent="#main-accordion1">
      <div class="row">
        <div class="col-12 filter-accordion__body-item">
          <div class="checkbox bounce">
            <input type="checkbox" id="input_1"/>
            <svg viewBox="0 0 21 21">
              <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
            </svg>
          </div>
          <label class="checkbox-label" for="input_1">پاشا باغچه            </label>
        </div>
        <div class="col-12 filter-accordion__body-item">
          <div class="checkbox bounce">
            <input id="input_2" type="checkbox"/>
            <svg viewBox="0 0 21 21">
              <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
            </svg>
          </div>
          <label class="checkbox-label" for="input_2">پاشا باغچه           </label>
        </div>
        <div class="col-12 filter-accordion__body-item">
          <div class="checkbox bounce">
            <input id="input_3" type="checkbox"/>
            <svg viewBox="0 0 21 21">
              <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
            </svg>
          </div>
          <label class="checkbox-label" for="input_3">پاشا باغچه           </label>
        </div>
        <div class="col-12 filter-accordion__body-item">
          <div class="checkbox bounce">
            <input id="input_4" type="checkbox"/>
            <svg viewBox="0 0 21 21">
              <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
            </svg>
          </div>
          <label class="checkbox-label" for="input_4">پاشا باغچه      </label>
        </div>
        <div class="col-12 filter-accordion__body-item">
          <div class="checkbox bounce">
            <input id="input_5" type="checkbox"/>
            <svg viewBox="0 0 21 21">
              <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
            </svg>
          </div>
          <label class="checkbox-label" for="input_5">پاشا باغچه</label>
        </div>
      </div>
    </div>
  </div>
  <div class="filter-accordion__item">
    <h5 class="filter-accordion__header">
      <button class="filter-accordion__button collapsed" data-toggle="collapse" data-target=".group-collapse-range" aria-expanded="false">رنج قیمت<span class="icon-angle-down filter-accordion__icon">            </span></button>
    </h5>
    <div class="group-collapse-range collapse" data-parent="#main-accordion">
      <div class="p-0 slider-range-box">
        <input class="demo_3 text-hide" type="text" name="demo_3" value="" tabindex="-1" readonly=""/>
      </div>
    </div>
  </div>
  <div class="filter-accordion__item">
    <h5 class="filter-accordion__header">
      <button class="filter-accordion__button collapsed" data-toggle="collapse" data-target="#collapse-color" aria-expanded="false">رنگ بندی<span class="icon-angle-down filter-accordion__icon"></span></button>
    </h5>
    <div class="collapse" id="collapse-color" role="tabpanel" data-parent="#main-accordion">
      <form class="color">
        <fieldset class="color__field">
          <div>
            <input class="color__input" id="red" type="checkbox"/>
            <label class="color__label" data-toggle="tooltip" data-placement="top" title="red" for="red"><span></span></label>
          </div>
          <div>
            <input class="color__input" id="blue" type="checkbox"/>
            <label class="color__label" data-toggle="tooltip" data-placement="top" title="blue" for="blue"><span></span></label>
          </div>
          <div>
            <input class="color__input" id="black" type="checkbox"/>
            <label class="color__label" data-toggle="tooltip" data-placement="top" title="black" for="black"><span></span></label>
          </div>
          <div>
            <input class="color__input" id="orange" type="checkbox"/>
            <label class="color__label" data-toggle="tooltip" data-placement="top" title="orange" for="orange"><span></span></label>
          </div>
          <div>
            <input class="color__input" id="pink" type="checkbox"/>
            <label class="color__label" data-toggle="tooltip" data-placement="top" title="pink" for="pink"><span></span></label>
          </div>
        </fieldset>
      </form>
      <div class="moreitem">
        <div class="in collapse" id="more-filter1">
          <form class="color">
            <fieldset class="color__field">
              <div>
                <input class="color__input" id="grey" type="checkbox"/>
                <label class="color__label" data-toggle="tooltip" data-placement="top" title="grey" for="grey"><span></span></label>
              </div>
              <div>
                <input class="color__input" id="darkgrey" type="checkbox"/>
                <label class="color__label" data-toggle="tooltip" data-placement="top" title="darkgrey" for="darkgrey"><span></span></label>
              </div>
              <div>
                <input class="color__input" id="lightgrey" type="checkbox"/>
                <label class="color__label" data-toggle="tooltip" data-placement="top" title="lightgrey" for="lightgrey"><span></span></label>
              </div>
            </fieldset>
          </form>
        </div><a class="more-button up-down collapsed" href="#more-filter1" data-toggle="collapse" aria-expanded="false">نمایش بیشتر       </a>
      </div>
    </div>
  </div>
</div>
<div class="filter-switch my-4">
  <label class="toggle-control">
    <input type="checkbox" checked="checked"/><span class="control"></span>فقط کالاهای موجود
  </label>
</div>