
<div class="filter-accordion__item">
  <h5 class="filter-accordion__header">
    <button class="filter-accordion__button collapsed" data-toggle="collapse" data-target=".group-collapse-range" aria-expanded="false">رنج قیمت<span class="icon-angle-down filter-accordion__icon">            </span></button>
  </h5>
  <div class="group-collapse-range collapse" data-parent="#main-accordion">
    <div class="p-0 slider-range-box">
      <input class="demo_3 text-hide" type="text" name="demo_3" value="" tabindex="-1" readonly=""/>
    </div>
  </div>
</div>