
<div class="login__form">
  <form class="validate-form form-card">
    <div class="row m-0">
      <div class="col-12 form-card__field">
        <div class="form-card__field">
          <div class="form-card__field">
            <label class="form-card__label mb-3" for="new">رمز عبور </label>
            <input class="form-card__input" type="password" name="password" required="" placeholder=" رمز عبور خود را وارد کنید." id="new"/>
          </div>
        </div>
      </div>
      <div class="col-12 login__buttons">
        <button class="login__confirm" type="submit">ادامه</button>
      </div>
      <div class="col-12 login__link-wrapper"><a class="login__link" href="">ورود با رمز یکبار مصرف </a><a class="login__link" href="">رمز عبور خود را فراموش کرده اید؟ </a></div>
    </div>
  </form>
</div>
<div class="login__return">
  <button class="login__return-btn">
     بازگشت</button>
</div>