.login__form
    form.validate-form.form-card
        .row.m-0
            .col-12.form-card__field
                .form-card__field
                    .form-card__field
                        label(for="new").form-card__label.mb-3 رمز عبور 
                        input(type="password" name="password" required=""  placeholder=" رمز عبور خود را وارد کنید.")#new.form-card__input
                        input(type="password" name="password" required=""  placeholder="تکرار مجدد رمز عبور.").form-card__input.mt-2
            .col-12.login__buttons
                button.login__confirm(type="submit")
                    | ادامه
.login__return
    button.login__return-btn 
        |بازگشت