.login__form
    form.validate-form.form-card
        .row.m-0
            .col-12.form-card__field
                .form-card__field
                    .form-card__field
                        label(for="new").mb-3.form-card__label کد تایید برای شماره موبایل۰۹۳۳۸۰۶۹۲۵۴ارسال گردید
                        input(type="password" name="code" required=""  placeholder=" کد ارسالی")#new.form-card__input
            
            .col-12.login__buttons
                button.login__confirm(type="submit")
                    | ادامه
            .col-12.login__resend
                p.login__text اعتبار کد تا 03:00 
                button
                    span.icon-reload 
                    | ارسال مجدد
.login__return
    button.login__return-btn 
        |بازگشت        