
<div class="login__form">
  <form class="validate-form form-card">
    <div class="row m-0">
      <div class="col-12 form-card__field">
        <div class="form-card__field">
          <div class="form-card__field">
            <label class="mb-3 form-card__label" for="new">کد تایید برای شماره موبایل۰۹۳۳۸۰۶۹۲۵۴ارسال گردید</label>
            <input class="form-card__input" type="password" name="code" required="" placeholder=" کد ارسالی" id="new"/>
          </div>
        </div>
      </div>
      <div class="col-12 login__buttons">
        <button class="login__confirm" type="submit">ادامه</button>
      </div>
      <div class="col-12 login__resend">
        <p class="login__text">اعتبار کد تا 03:00 </p>
        <button><span class="icon-reload"> </span>ارسال مجدد</button>
      </div>
    </div>
  </form>
</div>
<div class="login__return">
  <button class="login__return-btn">
     بازگشت        </button>
</div>