
<div class="modal fade profile-modal" id="profileModal" tabindex="-1" role="dialog">
  <div class="modal-dialog p-5" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="profile-modal__title" id="exampleModalLabel1">حساب کاربری من</h5>
        <button class="close profile-modal__close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div class="user-profile-header">
          <div class="user-profile-header__box-img">
            <input id="img-edit" type="file" hidden=""/>
            <label class="user-profile-header__edit" for="img-edit"><img class="user-profile-header__img" src="dist/images/img-user.jpg" alt="pic"/></label>
          </div>
          <div class="user-profile-header__box-text">
            <div class="user-profile-header__name"><span>علیرضا حاجی قدیری</span></div>
            <div class="user-profile-header__box-link"><a class="user-profile-header__link" href="profile-password.html">تغییر رمز عبور</a><a class="user-profile-header__link" href="#">خروج از حساب</a></div>
          </div>
        </div>
        <div class="user-profile-menu"><a class="user-profile-menu__item user-profile-menu__item--active" href="profile.html">ویرایش پروفایل شخصی</a><a class="user-profile-menu__item" href="profile-address.html">دفترچه آدرس های من</a><a class="user-profile-menu__item" href="profile-order.html">همه سفارش های من</a><a class="user-profile-menu__item" href="profile-favorite.html">علاقه مندی های من</a></div>
      </div>
    </div>
  </div>
</div>