
<div class="profile-cart">
  <div class="profile-cart__header">سفارش محصولات       </div>
  <div class="col-12 myorder">
    <div class="table-responsive">
      <table class="table table-bordered purchase-table">
        <tbody>
          <tr class="purchase-table__header">
            <th>ردیف</th>
            <th>شماره سفارش</th>
            <th>تاریخ ثبت</th>
            <th>مجموع هزینه</th>
            <th>وضعیت سفارش</th>
            <th>لیست سفارش</th>
          </tr>
          <tr class="purchase-table__cell">
            <td>1</td>
            <td>74500</td>
            <td>1394/3/17</td>
            <td>3,150,300 تومان</td>
            <td>درحال بررسی</td>
            <td><a class="purchase-table__link" href="#listGroup1">مشاهده لیست</a></td>
          </tr>
          <tr class="purchase-table__cell">
            <td>2</td>
            <td>196522</td>
            <td>1393/9/25</td>
            <td>15,150,300 تومان</td>
            <td>تایید شده</td>
            <td><a class="purchase-table__link" href="#listGroup2">مشاهده لیست</a></td>
          </tr>
          <tr class="purchase-table__cell">
            <td>3</td>
            <td>74500</td>
            <td>1394/3/17</td>
            <td>3,150,300 تومان</td>
            <td>درحال بررسی</td>
            <td><a class="purchase-table__link" href="#listGroup3">مشاهده لیست</a></td>
          </tr>
          <tr class="purchase-table__cell">
            <td>4</td>
            <td>196522</td>
            <td>1393/9/25</td>
            <td>15,150,300 تومان</td>
            <td>تایید شده</td>
            <td><a class="purchase-table__link" href="#listGroup4">مشاهده لیست</a></td>
          </tr>
          <tr class="purchase-table__cell">
            <td>5</td>
            <td>74500</td>
            <td>1394/3/17</td>
            <td>3,150,300 تومان</td>
            <td>درحال بررسی</td>
            <td><a class="purchase-table__link" href="#listGroup5">مشاهده لیست</a></td>
          </tr>
          <tr class="purchase-table__cell">
            <td>6</td>
            <td>196522</td>
            <td>1393/9/25</td>
            <td>15,150,300 تومان</td>
            <td>تایید شده</td>
            <td><a class="purchase-table__link" href="#listGroup6">مشاهده لیست</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 p-0 list-main p-4" id="listGroup1" style="display: none">
      <p class="title-greybackground">سفارش <span>58960</span></p>
      <div class="profile-cart">
        <div class="profile-cart__header"><span>فروشگاه اینترنتی کشاورزی</span></div>
        <div id="print-factor">
          <div class="table-responsive">
            <table class="table table-bordered mb-3 print-info">
              <tbody>
                <tr class="print-info__tr1">
                  <td colspan="2">نام: <span>علیرضا حاجی قدیری</span></td>
                  <td>شماره تماس: <span>09135423689</span></td>
                </tr>
                <tr class="print-info__tr2">
                  <td>شماره فاکتور: <span>8954256</span></td>
                  <td>تاریخ ثبت سفارش: <span>12/02/95</span></td>
                  <td>نحوه پرداخت: <span>هنگام تحویل</span></td>
                </tr>
                <tr class="print-info__tr1">
                  <td colspan="3">آدرس:
                    <address class="print-info__address">
                      چنانچه قبلا در فروشگاه اینترنتی فرش کاشان
                      ثبت نام نکرده اید با کلیک برروی دکمه زیر ثبت
                      نام نموده و ادامه مراحل خرید را دنبال
                      نمایید.
                    </address>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="table-responsive">
              <table class="table table-bordered purchase-table">
                <tbody>
                  <tr class="purchase-table__header">
                    <th colspan="2">عنوان محصول</th>
                    <th>تعداد</th>
                    <th>قیمت کالا</th>
                  </tr>
                  <tr class="purchase-table__cell">
                    <td><img class="purchase-table__img" title="" src="images/product1.png" alt="سبد خرید فرش کاشان"/></td>
                    <td>فرش کرم 700 شانه 10 رنگ</td>
                    <td>2</td>
                    <td>5,196,300 تومان</td>
                  </tr>
                  <tr class="purchase-table__cell">
                    <td><img class="purchase-table__img" title="" src="dest/images/product1.png" alt="سبد خرید فرش کاشان"/></td>
                    <td>فرش گلستان 1200 شانه 7 رنگ</td>
                    <td>38</td>
                    <td>3,150,300 تومان</td>
                  </tr>
                  <tr class="purchase-table__cell">
                    <td><img class="purchase-table__img" title="" src="dest/images/product1.png" alt="سبد خرید فرش کاشان"/></td>
                    <td>فرش کرم 700 شانه 10 رنگ</td>
                    <td>1</td>
                    <td>5,196,300 تومان</td>
                  </tr>
                  <tr class="purchase-table__cell">
                    <td> <img class="purchase-table__img" title="" src="dest/images/product1.png" alt="سبد خرید فرش کاشان"/></td>
                    <td>فرش کرم 700 شانه 10 رنگ</td>
                    <td>15</td>
                    <td>5,196,300 تومان</td>
                  </tr>
                  <tr class="purchase-table__cell">
                    <td colspan="2">جمع کل</td>
                    <td colspan="2">59800000تومان</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="purchase-table__address">
              <ul>
                <li><i class="icon-map"></i>کاشان;میدان معلم;خیابان
                                              شهید مطهری ، جنب کلینیک فرهنگیان ، شرکت آیتیسا
                </li>
                <li><i class="icon-phone-ring"></i>031-55544356</li>
                <li><i class="icon-mobile"></i>09135495155-09367229323</li>
                <li><i class="icon-envelope"></i>carpetstore@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="print-button"><a class="print-button__link" onclick="jQuery.print('#print-factor')"> چاپ فاکتور</a></div>
    </div>
  </div>
</div>